---
---

{% include head-aula.html page-title="Conversão de Bases - CdC" %}

{% include heading-aula.html heading="Conversão de Bases Numéricas." %}

<p>Estou fazendo esta página apenas para mostrar como eu aprendi a converter bases númericas do jeito mais fácil
    possível.</p>
<table style="display: inline-table; width: auto; font-size: 12px; text-align: center;">
    <tr>
        <td>8</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>
<p>Okay, está vendo esta tabela? você pode usar ela para converter entre <strong>Decimal, Binário e
        Hexadecimal.</strong> Para isso, basta você comparar os números embaixo com os de cima, por exemplo, se
    termos <code>1000</code> em <strong>Binário</strong>, vemos que na tabela apenas o <strong>8</strong> teria o
    número <strong>1</strong> embaixo dele, logo <code>1000<sub>2</sub> = 8<sub>10</sub></code></p>
<table style="display: inline-table; width: auto; font-size: 12px; text-align: center;">
    <tr>
        <td>8</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
<p>Decimal &rarr; Binário</p>
<p>
    <code>10<sub>10</sub></code>. Aqui temos 10 em <strong>Decimal</strong>, o número 1 é positivo, e o 0 é
    negativo, ou seja, <code>10<sub>10</sub></code> equivale a <code>1010</code>, basta olhar na "tabela", e pode
    ver que o <code>8</code> e o <code>2</code> estão exatamente em cima do <code>1</code> que está na versão
    binária, logo basta somar <code>8 + 2 = 10<sub>10</sub></code>.
</p>
<table style="display: inline-table; width: auto; font-size: 12px; text-align: center;">
    <tr>
        <td>8</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
    </tr>
</table>
<p>Binário &rarr; Decimal</p>
<p>
    <code>0111<sub>2</sub> = 7<sub>10</sub></code>. Caso você esteja em dúvida, agora temos 3 positivos no nosso
    número binário, ou seja, <code>111 (0111)</code>. Para converter, você deve ver o número acima deles na
    "tabela", e somar da esquerda para a direita, sendo assim, fica: <code>4 + 2 + 1 = 7</code> logo,
    <code>0111<sub>2</sub> = 7<sub>10</sub></code>.
</p>
<table style="display: inline-table; width: auto; font-size: 12px; text-align: center;">
    <tr>
        <td>8</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>
<p>Binário &rarr; Hexadecimal</p>
<p>Este é idêntico ao exercício anterior, afinal Hexadecimal é igual ao Decimal, porém na base 16. Vejamos então: se
    temos <code>10011100<sub>2</sub></code> em Binário, como é em Hexadecimal?</p>
<ul>
    <li><strong>Resposta</strong>: <code>9C</code></li>
    <ul>
        <li><strong>Explicação</strong>: Começaremos pelo primeiro grupo de <strong>4bits</strong>, da esquerda para
            direita. Quais números estão acima dos <strong>1's</strong> deste grupo? (<code>1001</code>). A resposta
            é <strong>8 e 1</strong>. Logo, <code>8 + 1 = 9</code>. Agora o segundo grupo, quais números estão acima
            dos <strong>1's</strong>? (<code>1100</code>). A resposta é <strong>8 e 4</strong>,
            <code>8 + 4 = 12</code> e como sabemos, a partir do <strong>9</strong>, em hexadecimal, temos letras (A,
            B, C, D, E, F), que vão até o 15 (F). Logo a resposta correta é <code>9C<sub>16</sub>.</code>
        </li>
    </ul>
</ul>
<p>Conseguiu entender? Basta seguir essa tabela e consegue fazer tudo. Caso você esteja se perguntando como faz para
    números <strong>binários</strong> com mais de 4 dígitos (Ex: 10110...) Você deve continuar a tabela para a
    esquerda, ela é feita dobrando o próximo número a cada dígito, uma forma fácil de saber até qual número você
    deve ir, é ir até o número mais próximo possível do número que vai converter, ou seja, se você foi converter de
    <strong>Decimal</strong> <code>34<sub>10</sub></code> para <strong>Binário</strong>
    <code>00110010<sub>2</sub></code>, você iria até no máximo o número 32 na tabela, pois, a ordem é: {1, 2, 4, 8,
    16, 32, 64, 128...} e o 32 é o número mais próximo que não passa do nosso número <strong>Decimal</strong>, que é
    34. ou seja, para converter esse <strong>Binário</strong> que mencionei ali nos parênteses (10110) em
    <strong><strong>Decimal</strong></strong>, você usaria essa tabela:
</p>
<table style="display: inline-table; width: auto; font-size: 12px; text-align: center;">
    <tr>
        <td>16</td>
        <td>8</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
    </tr>
</table>
<p>Veja bem, que de números "positivos" (com 1 embaixo) temos, da esquerda para a direita: (16, 4 e 2).</p>
<p>Logo, a resposta seria: <code>22<sub>10</sub></code> (16 + 4 + 2).</p>
<p>
    Não se esqueça de um detalhe, se for de <strong>Binário</strong> para <strong>Hexadecimal</strong>, você deve
    separar o número em grupos de <strong>4bits</strong> para que funcione. O número que acabamos de converter
    seria: <code>0001 0110<sub>2</sub></code>, invés de <code>10110<sub>2</sub></code> <br> (Foi adicionado três
    <strong>0's</strong> por causa que, ao separar os <strong>bits</strong> em grupos de 4, caso um número fique
    sozinho, você preenche o resto com <strong>0's</strong>). Porém!! Caso seja de <strong>Binário</strong> para
    <strong>Decimal</strong>, você <strong>NÃO</strong> separa os números. No <strong>Hexadecimal</strong> nós
    calculamos os grupos separadamente, e no <strong>Decimal</strong>, fazemos de uma vez. Ou seja, o que no
    <strong>Decimal</strong> seria <code>16 + 4 + 2 = 22<sub>10</sub></code>, no <strong>Hexadecimal</strong> seria
    <code>16<sub>16</sub></code>, sendo assim <code>0001 = 1</code> e <code>0110 = 6</code>. Caso você queira
    separar por motivos de organização, não tem problema, apenas lembre-se de calcular eles juntos se for de
    <strong>Decimal</strong>, e separados se for de <strong>Hexadecimal</strong>. Ou seja, não calcule
    <code>0001 0001</code> como 1 e 1 (<strong>Hexadecimal</strong>), invés de 17 (<strong>Decimal</strong>, 16 +
    1).
</p>
<p>Não entendeu ainda? Veja esse vídeo: <a href="https://www.youtube.com/watch?v=U1CxW1FPPvM" target="_blank"
        rel="external" style="color: rgb(0, 204, 255);">link</a></p>

<hr>

{% include nav-aula.html materia="conceitosdacomputacao1" aula="4" %}
{% include footer.html %}