@charset "UTF-8";

body {
  background-color: #121212;
  text-align: center;
  color: #c8c3bc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.divmain {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: auto;
  width: fit-content;
  flex-wrap: wrap;
}

.divmain img {
  height: 75px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
  padding-bottom: 4px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 4px;
}

@media (min-width: 1370px) {
  .divmain {
    max-width: 90%;
  }
}

@media (min-width: 1520px) {
  .divmain {
    max-width: 85%;
  }
}

@media (min-width: 1608px) {
  .divmain {
    max-width: 80%;
  }
}

@media (min-width: 1708px) {
  .divmain {
    max-width: 75%;
  }
}

@media (min-width: 1821px) {
  .divmain {
    max-width: 70%;
  }
}

@media (min-width: 1950px) {
  .divmain {
    max-width: 65%;
  }
}

@media (min-width: 2099px) {
  .divmain {
    max-width: 60%;
  }
}

@media (max-width: 1218px) {
  .divmain {
    max-width: 62%;
  }
}

@media (max-width: 979px) {
  .divmain {
    max-width: 70%;
  }
}

@media (max-width: 869px) {
  .divmain {
    max-width: 80%;
  }
}

@media (max-width: 764px) {
  .divmain {
    max-width: inherit;
  }
}

@media (max-width: 650px) {
  .divmain img {
    height: 70px;
  }
}

@media (max-width: 574px) {
  .divmain img {
    height: 65px;
  }
}

@media (max-width: 536px) {
  .divmain img {
    height: 60px;
  }
}

@media (max-width: 498px) {
  .divmain img {
    height: 55px;
  }
}

@media (max-width: 460px) {
  .divmain img {
    height: 50px;
  }
}

@media (max-width: 422px) {
  .divmain img {
    height: 45px;
  }
}

@media (max-width: 383px) {
  .divmain img {
    height: 40px;
  }
}

@media (max-width: 345px) {
  .divmain img {
    height: 35px;
  }
}

@media (max-width: 308px) {
  .divmain img {
    height: 34px;
  }
}

.divmain img.conteudo-disponivel {
  background-image: linear-gradient(
    to right,
    rgb(0, 155, 0),
    rgb(0, 205, 0),
    rgb(0, 255, 0)
  );
}

.divmain img.conteudo-indisponivel {
  background-image: linear-gradient(
    to right,
    rgb(155, 0, 0),
    rgb(205, 0, 0),
    rgb(255, 0, 0)
  );
}

.divmain img:hover {
  transform: scale(1.05);
}

hr {
  border-color: #14141485;
}

.buttonnav,
.button-trimestres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px auto;
}

.buttonmain,
#btn-trimestre1,
#btn-trimestre2,
#btn-trimestre3,
#btn-trimestre4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  color: #c8c3bc;
  background-color: #282828;
  box-shadow: 1px 1px 5px rgb(129, 129, 129);
  transition: background-color 0.3s;
  border: none;
}

.buttonmain {
  min-width: 80px;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 7px;
}

@media (max-width: 365px) {
  .buttonmain {
    min-width: 75px;
  }
}

@media (max-width: 350px) {
  .buttonmain {
    min-width: 70px;
  }
}

@media (max-width: 335px) {
  .buttonmain {
    min-width: 65px;
  }
}

@media (max-width: 320px) {
  .buttonmain {
    min-width: 60px;
  }
}

@media (max-width: 305px) {
  .buttonmain {
    min-width: 55px;
  }
}

#btn-trimestre1,
#btn-trimestre2,
#btn-trimestre3,
#btn-trimestre4 {
  min-width: 150px;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 20px;
}

.buttonmain:hover,
#btn-trimestre1:hover,
#btn-trimestre2:hover,
#btn-trimestre3:hover,
#btn-trimestre4:hover {
  background-color: #383838;
  cursor: pointer;
}

.activebutton {
  color: white;
}

.rodape {
  padding: 3px;
  font-size: 0.9rem;
  color: #555;
  margin-top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
