---
---

{% include head-quiz-prova.html page-title="Quiz - CdC1" %}
{% include heading-aula.html heading="Quiz de Conceitos da Computação I" %}

<p><strong>1.</strong> Um estudante de computação está em um projeto e precisa armazenar, em memória, números de 0 até 1
    milhão. Sendo assim, quantos bits ele terá que reservar?</p>
<p><strong>Resposta Correta:</strong> 20 bits.</p>
<hr>

<p><strong>2.</strong> Stair e Reynolds (2006, p.12) definem sistemas de informação com sendo “um conjunto de elementos
    ou componentes inter-relacionados que coletam (entrada), manipulam (processo) e disseminam (saída) de informações,
    oferecendo um mecanismo de realimentação para atingir um objetivo”. Sobre a ordem de formação do conhecimento,
    assinale a alternativa correta.</p>
<p><strong>Resposta Correta:</strong> Dado, processo de transformação e informação.</p>
<hr>

<p><strong>3.</strong> Gustavo está estudando o circuito a seguir e gostaria de verificar para quais valores de
    T<sub>h</sub> e P<sub>h</sub> o alarme será acionado. Suponha que o alarme é ativado em nível alto:</p>
<ul>
    <li>Ph = 0 ou Th = 0;</li>
    <li>Ph = 1 ou Th = 1;</li>
    <li>Ph = 0 ou Th = 1;</li>
    <li>Ph = 1 ou Th = 0;</li>
</ul>
<p>Em quais casos o alarme será acionado?</p>
<p><strong>Resposta Correta:</strong> Somente nos casos II, III e IV.</p>
<hr>

<p><strong>4.</strong> Michelle está investigando um diagrama de circuito digital que tem quatro entradas, A, B, C e D,
    como descrito nesta figura:</p>
<p>Michelle é uma estudante bastante esforçada e encontrou a função lógica resultante do circuito. Qual é o valor da
    função lógica Y encontrada por Michelle?</p>
<p><strong>Resposta Correta:</strong> [D + (A'+'B')C'] * E</p>
<hr>

<p><strong>5.</strong> Sérgio está consultando uma tabela ASCII e quer saber qual o valor decimal do botão delete
    representado em hexadecimal por E053. Assinale a alternativa correta.</p>
<p><strong>Resposta Correta:</strong> 57427.</p>
<hr>

<p><strong>6.</strong> Em 1854, Georg Boole publicou um trabalho intitulado <em>Uma Investigação das leis do
        pensamento</em>, sobre as quais são fundadas as teorias matemáticas de lógica e probabilidades
    (<em>Investigation of the laws of thought, on which are founded the mathematical theories of logic AND
        probabilities</em>). Foi nessa publicação que uma “álgebra lógica”, conhecida hoje em dia como álgebra booleana,
    foi formulada.</p>
<p>A álgebra booleana é uma forma conveniente e sistemática de expressar e analisar a operação de circuitos lógicos.
    Claude Shannon foi o primeiro a aplicar o trabalho de Boole na análise e no projeto de circuitos lógicos. Em 1938,
    Shannon escreveu uma tese no MIT, intitulada <em>A symbolic analysis of relay and switching circuits</em>.</p>

<p>Para os casos:</p>
<ul>
    <li>A = 0, B = 1, C = 1 e D = 1.</li>
    <li>A = 0, B = 1, C = 1 e D = 0.</li>
    <li>A = 0, B = 0, C = 0 e D = 1.</li>
</ul>
<p>Obtenha os níveis lógicos de saída x para o circuito, nos casos I, II e III.</p>
<p><strong>Resposta Correta:</strong> I= 0, II= 1 e III= 0.</p>
<hr>

<p><strong>7.</strong> Os teoremas do matemático De Morgan são propostas de simplificação de expressões em álgebra
    booleana de grande contribuição. Os trabalhos mais brilhantes de De Morgan foram o lançamento das fundações de
    relações e a preparação do caminho para o nascimento da lógica.</p>
<p>Por meio de seus conhecimentos sobre os teoremas de De Morgan, escolha a alternativa que simplifica corretamente a
    expressão Y = ABC + AC' + AB'</p>
<p><strong>Resposta Correta:</strong> Y = A</p>
<hr>

<p><strong>8.</strong> Em 1703, Gottfried Leibniz desenvolveu a lógica em um sentido formal e matemático, utilizando o
    sistema binário. Em seu sistema, uns e zeros também representam conceitos como verdadeiro e falso, ligado e
    desligado, válido e inválido. Levou mais de um século para que George Boole publicasse a álgebra booleana (em 1854),
    com um sistema completo que permitia a construção de modelos matemáticos para o processamento computacional.</p>

<p>Baseado no sistema proposto por Leibniz e Boole, converta 01110<sub>2</sub> para número da base decimal e assinale a
    alternativa correta:</p>
<p><strong>Resposta Correta:</strong> 14<sub>10</sub>.</p>
<hr>

<p><strong>9.</strong> Para um determinado processo químico descrito na figura a seguir, utilizaram-se dois transdutores
    de entrada e dois comparadores de saída do comparador, representados pelas variáveis de entrada T<sub>h</sub> e
    P<sub>h</sub>. V<sub>TR</sub> e V<sub>PR</sub> são os valores de temperatura e pressão de referência. Observando a
    figura com atenção, pode-se perceber que o estado lógico de saída resultante deverá ou não acionar o alarme.</p>

<p>Qual função lógica de saída representa o sistema digital anterior?</p>
<p><strong>Resposta Correta:</strong> T<sub>h</sub> + P<sub>h</sub></p>
<hr>

<p><strong>10.</strong> Um estudante está projetando um circuito lógico, como mostrado na figura a seguir. Esse circuito
    apresenta como entradas um sensor de temperatura (T), um sensor de pressão (P) e um sensor de RPM (R).</p>

<p>Segundo seus conhecimentos de funções booleanas, qual seria a expressão de saída W obtida pelo estudante?</p>
<p><strong>Resposta Correta:</strong> w = T * (P+R')</p>

<hr>

<p><strong>11.</strong> Jane ganhou seu primeiro Personal Computerum IBM’s System/360 de seu avô. Considerando as
    características de hardware da época, qual a tecnologia que esse computador utilizava?</p>
<p><strong>Resposta Correta:</strong> e. Circuito integrado.</p>

<hr>

<p><strong>12.</strong> Analise as asserções a seguir:</p>
<p>I - O ENIAC (integrador numérico eletrônico e computador) era Turing completo, digital e capaz de resolver "uma
    grande classe de problemas numéricos" através da reprogramação. Embora o ENIAC tenha sido projetado e usado
    principalmente para calcular tabelas de tiro de artilharia para o Laboratório de Pesquisa Balística do Exército dos
    Estados Unidos (que mais tarde se tornou parte do Laboratório de Pesquisa do Exército), seu primeiro programa foi um
    estudo da viabilidade da arma termonuclear.</p>
<p>II - Esses computadores são reconhecidos por serem computadores pessoais, e, devido ao surgimento dos
    processadores — unidade central de processamento, os sistemas operacionais como MS-DOS, UNIX, Apple’s Macintosh
    foram construídos; as linguagens de programação orientadas a objeto, como C++ e Smalltalk, foram desenvolvidas; os
    discos rígidos eram utilizados como memória secundária; as impressoras matriciais e os teclados com os leiautes
    atuais foram criados nessa época.</p>
<p>Sobre os fragmentos de texto I e II, responda: A quais gerações pertencem o ENIAC e os primeiros computadores
    pessoais?</p>
<p><strong>Resposta Correta:</strong> a. 1º e 4º gerações.</p>

<hr>

<p><strong>13.</strong> Por que alguém iria querer ter um tipo de processo dentro de um processo?</p>
<p>A principal razão para se ter threads é que, em muitas aplicações, múltiplas atividades estão ocorrendo
    simultaneamente, e algumas delas podem ser bloqueadas de tempos em tempos. Ao decompormos uma aplicação dessas em
    múltiplos threads sequenciais, que são executados em quase paralelo, o modelo de programação torna-se mais simples.
</p>
<p>Mediante a leitura do texto, podemos inferir, sobre o uso de multi-threads, que:</p>
<p><strong>Resposta Correta:</strong> b. proporciona aumento na eficiência, pois, tendo suporte para trabalhar com
    múltiplas threads, é mais provável que a CPU execute mais programas ao mesmo tempo.</p>

<hr>

<p><strong>14.</strong> Alberto é um aluno curioso de computação, que está estudando sistemas binários. Em um dado
    momento, ele descobre que é possível representar uma números utilizando uma certa quantidade de bits. Sendo assim,
    ajude Alberto a representar valores decimais na faixa de 0 a 12.500 e responda: Qual o número mínimo de bytes que
    ele utilizará para representar esses valores decimais?</p>
<p><strong>Resposta Correta:</strong> d. 2 bytes.</p>

<hr>

<p><strong>15.</strong> O circuito lógico a seguir gera uma saída MEM, utilizada para ativar componentes integrados de
    memória em determinado microcomputador. Esse tipo de circuito ilustra o comportamento de um computador real.</p>
<p>O circuito lógico da figura anterior apresenta as seguintes variáveis de entrada: RD, ROM-A, ROM-B e RAM, e a saída
    resultante MEM, utilizada para ativar CIs de memória em determinado microcomputador. A entrada RD conecta-se a uma
    porta NOT que, por sua vez, se conecta a uma porta NAND. As entradas ROM A e ROM B entram em uma porta NOR, que
    resulta em uma saída W. Já a entrada RAM passa por uma porta NOT, gerando a saída V. W e V são conectadas a uma
    porta OR, resultando em uma saída Y; finalmente, X e Y são conectados a uma porta NAND, e o resultado é a saída
    resultante MEM.</p>
<p>Analisando o circuito, determine as condições de entrada necessárias para ativar MEM.</p>
<p><strong>Resposta Correta:</strong> d. X será nível ALTO apenas quando RD = 0.</p>

<hr>

<p><strong>16.</strong> Michel está realizando o cálculo de armazenamento de bits de um computador e supõe que a função
    de armazenamento em decimal é f (x) = x² - 2. Caso Michel decida utilizar x= 7, quais são os valores encontrados por
    ele em decimal, binário e hexadecimal, respectivamente?</p>
<p><strong>Resposta Correta:</strong> d. 47<sub>10</sub>, 101111<sub>2</sub> e 2F.</p>

<hr>

<p><strong>17.</strong> Marcos deparou-se com a identificação MAC (do inglês, Media Access Control) de sua placa de rede
    e percebeu que constava número e letras 00:19:B9:FB:E2:57. Assinale a opção correta para o sistema numérico que faz
    uso de números e letras para representar um número.</p>
<p><strong>Resposta Correta:</strong> d. Sistema hexadecimal.</p>

<hr>

<p><strong>18.</strong> Um estudante em um projeto de sistemas digitais precisa efetuar a soma de dois números binários
    A= 101010 e B=100010. Qual o valor correto encontrado pelo estudante em decimais?</p>
<p><strong>Resposta Correta:</strong> e. 76.</p>

<hr>

<p><strong>19.</strong> Alberto procura saber quais são os bits mais e menos significativos, respectivamente, MSB e LSB,
    do número decimal 52310. Quais foram os valores corretamente encontrados por Alberto?</p>
<p><strong>Resposta Correta:</strong> e. MSB= 1 e LSB= 1.</p>

<hr>

<p><strong>20.</strong> O engenheiro John Von Neumann é conhecido principalmente por ter formalizado o projeto lógico de
    um computador. Sobre a arquitetura proposta por Von Neumann, é correto afirmar:</p>
<p><strong>Resposta Correta:</strong> a. Era formada por um processador central, unidade de memória, armazenamento
    em massa e dispositivos de entrada e saída.</p>

{% include nav-aula.html next="false" url="paginas/quizzes/mainquizzes.html" %}
{% include footer.html %}