---
---

{% include head-quiz-prova.html page-title="Quiz - CdC2" %}
{% include heading-aula.html heading="Quiz de Conceitos da Computação II" %}

<p><strong>1.</strong> Analise a tabela verdade a seguir e indique a alternativa com o circuito que a implementa.</p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_tabela.png" alt="Tabela verdade">
<br>
<p><strong>Imagem A:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_A.png" alt="Imagem A" class="imagens">
<p><strong>Imagem B:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_B.png" alt="Imagem B" class="imagens">
<p><strong>Imagem C:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_C.png" alt="Imagem C" class="imagens">
<p><strong>Imagem D:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_D.png" alt="Imagem D" class="imagens">
<p><strong>Imagem E:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta1cdc2_E.png" alt="Imagem E" class="imagens">
<p><strong>Resposta Correta:</strong> Imagem C).</p>

<hr>

<p><strong>2.</strong> Assinale a afirmação verdadeira sobre uma Unidade Lógico Aritmética.</p>
<p><strong>Resposta Correta:</strong> Não registra o valor da entrada na subida do clock.</p>

<hr>

<p><strong>3.</strong> O circuito que implementa a equação <span
        style="font-size: 1.5em; font-family: 'Times New Roman', serif;">
        S = <span style="text-decoration: overline;">(<span style="border-top: 2px double;">A</span> + B)</span> +
        <span style="text-decoration: overline;">(<span style="border-top: 2px double;">C</span> + D)</span> &middot;
        <span style="text-decoration: overline;">D</span>
    </span>
    é:
</p>
<p><strong>Imagem A:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta3cdc2_A.png" alt="Imagem A" class="imagens">
<p><strong>Imagem B:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta3cdc2_B.png" alt="Imagem B" class="imagens">
<p><strong>Imagem C:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta3cdc2_C.png" alt="Imagem C" class="imagens">
<p><strong>Imagem D:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta3cdc2_D.png" alt="Imagem D" class="imagens">
<p><strong>Imagem E:</strong></p>
<img src="../../../imagens/quizzes/cdc2/pergunta3cdc2_E.png" alt="Imagem E" class="imagens">
<p><strong>Resposta Correta:</strong> Imagem E).</p>

<hr>

<p><strong>4.</strong> Considerando a representação usando complemento de 2, qual o número mais negativo que podemos
    representar em um sistema operando com 8 bits?</p>
<p><strong>Resposta Correta:</strong> -128.</p>

<hr>

<p><strong>5.</strong> Assinale a alternativa que corresponde ao valor (349)<sub>16</sub> na base 10:</p>
<p><strong>Resposta Correta:</strong> (841)<sub>10</sub></p>

<hr>

<p><strong>6.</strong> Em uma ULA de 8 bits, se a função selecionada for de operação XOR, e os valores nas entradas
    forem respectivamente <code>A = 00110001</code> e <code>B = 11111111</code>, qual será a saída?</p>
<p><strong>Resposta Correta:</strong> 11001110.</p>

<hr>

<p><strong>7.</strong> Em um meio subtrator, se for feita a operação 0 - 1, qual o valor da saída do meio subtrator e o
    valor do empresta 1 desse meio subtrator?</p>
<p><strong>Resposta Correta:</strong> Saída = 1, empresta 1 = 1.</p>

<hr>

<p><strong>8.</strong> Considerando a representação em complemento de 2, qual o maior número positivo que podemos
    representar num sistema operando com 8 bits?</p>
<p><strong>Resposta Correta:</strong> 127.</p>

<hr>

<p><strong>9.</strong> Assinale a alternativa com o resultado da soma dos binários:</p>
<pre class="code">
A = 01111001
B = 11101001
</pre>
<p><strong>Resposta Correta:</strong> 101100010</p>

<hr>

<p><strong>10.</strong> Considerando que o sistema foi construído com notação em complemento de 2 e usando 8 bits, qual
    o resultado, em binário, da operação 32 - 64?</p>
<p><strong>Resposta Correta:</strong> 1110 0000.</p>

<hr>

<p><strong>11.</strong> Para se fazer um somador para somar duas entradas de 8 bits, qual o maior valor que é possível
    ser apresentado na saída desse somador?</p>
<p><strong>Resposta Correta:</strong> 510.</p>

<hr>

<p><strong>12.</strong> Considerando um flip-flop JK com clock sensível na subida, assinale a alternativa correta.</p>
<p><strong>Resposta Correta:</strong> Se o valor de Q está em 1, e aplicamos J = 0 e K = 1, Q será modificado para 0 na
    transição do clock de 0 para 1.</p>

<hr>

<p><strong>13.</strong> Em uma ULA de 8 bits, se a função selecionada for de operação Saída igual A, e os valores nas
    entradas forem respectivamente <code>A = 00110001</code> e <code>B = 01101101</code>, qual será a saída?</p>
<p><strong>Resposta Correta:</strong> 00110001.</p>

<hr>

<p><strong>14.</strong> Analise a tabela verdade e indique a alternativa com a equação que a implementa.</p>
<p><strong>Resposta Correta:</strong></p>
<p style="font-size: 1.5em; font-family: 'Times New Roman', serif;">
    S = <span style="text-decoration: overline;">(<span style="border-top: 2px double;">A</span>
        + C)</span> &middot;
    <span style="text-decoration: overline;">(<span style="border-top: 2px double;">B</span> +
        D)</span> &middot; <span style="text-decoration: overline;">D</span>
</p>

<hr>

<p><strong>15.</strong> Se fizermos uma soma entre um número de 4 bits e um número de 8 bits, qual a quantidade mínima
    de bits é necessário existir na saída do somador?</p>
<p><strong>Resposta Correta:</strong> 9 bits.</p>

<hr>

<p><strong>16.</strong> O resultado da subtração binária do valor <code>A = 0010</code> por <code>B = 0100</code>, em um
    sistema que usa a notação
    de complemento de 2, é igual a:</p>
<p><strong>Resposta Correta:</strong> 1110.</p>

<hr>

<p><strong>17.</strong> Em uma ULA de 8 bits, se a função selecionada for de operação AND, e os valores nas entradas
    forem respectivamente <code>A = 00110001</code> e <code>B = 01101101</code>, qual será a saída?</p>
<p><strong>Resposta Correta:</strong> 00100001.</p>

{% include nav-aula.html next="false" url="paginas/quizzes/mainavaliacoes.html" %}
{% include footer.html %}