---
---

{% include head-quiz-prova.html page-title="Prova - InfraTI" %}
{% include heading-aula.html heading="Questões da Prova de Infraestrutura de TI" %}

<p><strong>Esta página contém questões que caíram em provas passadas e recentes, visando facilitar o estudo. No final da
        página haverá o gabarito. Caso a questão tenha ".1" pra cima na numeração, se trata de uma possível variante
        dessa questão.</strong></p>

<p><strong>1.</strong> São funcionalidades características do kernel de um sistema operacional:</p>

<ol type="a">
    <li>interpretar as solicitações dos usuários, interpretar comandos.</li>
    <li>assumir o controle do programa, atuar sobre as execuções dos usuários.</li>
    <li>interpretar os comandos dos usuários, gerenciar a memória.</li>
    <li>processar as interrupções, assumir o controle do programa.</li>
    <li>escalonar as tarefas, cuidar da comunicação entre os processos.</li>
</ol>

<hr>

<p><strong>1.1</strong> Os sistemas operacionais podem ser monoprogramáveis/monotarefa ou multiprogramáveis/multitarefa.
    Assinale a alternativa correta:</p>

<ol type="a">
    <li>Independentemente de os sistemas operacionais serem monoprogramáveis ou multiprogramáveis, ambos executam várias
        tarefas, seguindo um escalonamento da tarefa mais prioritária para a de menor prioridade.</li>
    <li>Os sistemas multiprogramáveis foram implementados nos mainframes e não são utilizados em computadores atuais.
    </li>
    <li>Os sistemas multiprogramáveis utilizam os recursos do processador para uma tarefa específica e, com isto,
        apresentam um rendimento maior.</li>
    <li>Os sistemas monoprogramáveis são caracterizados pelo uso de processador, memória e dispositivos periféricos, de
        forma dedicada a um único usuário.</li>
    <li>Os sistemas monoprogramáveis são sistemas mais atuais, pois dedicam mais tempo para a execução de processos
        prioritários e, com isto, oferecem maior velocidade para as aplicações.</li>
</ol>

<hr>

<p><strong>2.</strong> Um servidor de aplicação, instalado em uma infraestrutura de TI de uma empresa, tem por função:
</p>

<ol type="a">
    <li>gerenciar as aplicações de acesso à base de dados e, com isto, manter os arquivos dos bancos de dados mais
        seguros e, assim, evitando riscos de roubo de dados, por exemplo.</li>
    <li>facilitar a instalação de novas aplicações, pois ele serve para manter todos os arquivos executáveis e assim
        funcionar como um repositório.</li>
    <li>gerenciar os serviços da aplicação de impressoras e, com isto, diminuir os custos com várias impressoras
        espalhadas na empresa.</li>
    <li>organizar todos os arquivos das aplicações dos usuários separados por pastas e assim o acesso ficará mais
        controlado e seguro.</li>
    <li>facilitar o desenvolvimento do software e para isto proporciona uma interface entre o software da aplicação de
        negócio e as características complexas que são comuns para a maioria das aplicações.</li>
</ol>

<hr>

<p><strong>3.</strong> Os provedores de Plataforma como Serviços (PaaS) têm diversos serviços e características. Entre
    eles podemos citar:</p>

<ol type="a">
    <li>Os provedores de PaaS possuem diversos serviços que proporcionam o desenvolvimento de aplicativos. O pagamento
        deve ser feito pelo licenciamento de número de licenças de software e que incluem a atualização anual.</li>
    <li>Desenvolvimento de aplicações Web com diversas linguagens e com o provisionamento de sistema operacional,
        servidores e balanceamento de carga.</li>
    <li>Os provedores de PaaS fornecem as máquinas virtuais, os sistemas operacionais e os bancos de dados, e os
        clientes devem instalar as ferramentas de desenvolvimento.</li>
    <li>Implantação de sistemas de ERP e, assim, os usuários ficam responsáveis por lançamento dos dados de suas
        aplicações.</li>
    <li>Os provedores de PaaS ficam responsáveis pelo desenvolvimento de aplicações de nível empresarial.</li>
</ol>

<hr>

<p><strong>3.1</strong> A Plataforma como serviço – PaaS é uma solução fornecida pelos provedores de serviços de nuvem.
    Quando comparada com a TI tradicional muitas das responsabilidades passam a ser do fornecedor de nuvem. Selecione
    das alternativas abaixo quais as responsabilidades que ficam para o cliente de PaaS:</p>

<ol type="a">
    <li>O cliente de PaaS deve se responsabilizar pela instalação dos ambientes de middleware para os contêineres de
        seus projetos.</li>
    <li>O cliente de PaaS deve se responsabilizar por instalar suas ferramentas para o desenvolvimento de aplicações e,
        também, para cuidar da aquisição das licenças sob demanda.</li>
    <li>O cliente de PaaS só utiliza os aplicativos que são fornecidos pelo provedor e sua responsabilidade será só a
        entrada dos dados, como, por exemplo, nos sistemas de Gestão de Negócios.</li>
    <li>O cliente de PaaS deve focar no desenvolvimento de suas aplicações com a utilização das ferramentas de
        programação, dos bancos de dados e outros serviços de desenvolvimento fornecidos pelo provedor.</li>
    <li>O cliente de PaaS deve se responsabilizar pela aquisição dos sistemas operacionais para que possa instalar nas
        máquinas virtuais fornecidas pelo provedor.</li>
</ol>

<hr>

<p><strong>4.</strong> Ao transmitir os dados de um computador para outro através de uma rede de comunicação, tornou-se
    necessária a divisão das tarefas em etapas, as quais foram chamadas de camadas. Selecionar a alternativa correta
    quanto a atividade realizada na camada.</p>

<ol type="a">
    <li>A <strong>camada de rede</strong> junto com a camada de transporte possui a responsabilidade de verificar a
        segurança dos dados dos usuários e só encaminhar caso tenham sido validados.</li>
    <li>A <strong>camada de enlace</strong> é responsável por endereçar os dispositivos envolvidos na conexão, e faz
        isso com a utilização de um endereço lógico, que pode variar de hardware para hardware.</li>
    <li>A <strong>camada de rede</strong> é responsável por receber os dados da aplicação do usuário e colocá-los para a
        camada de transporte que se encarregará de enviar para o outro dispositivo de destino.</li>
    <li>A <strong>camada de aplicação</strong> é responsável por receber os dados dos usuários, verificar o endereço
        físico do destino desejado, e só então disponibilizar para a camada de transporte.</li>
    <li>A <strong>camada de transporte</strong> é responsável pelas funções de conexão entre os dispositivos fonte e
        destino, segmentando os dados em unidades menores.</li>
</ol>

<hr>

<p><strong>4.1</strong> As redes VLANs podem ser utilizadas para aumentar a performance da rede separando os grandes
    domínios de broadcast em domínios menores e oferece características importantes. Selecione a resposta correta:</p>

<ol type="a">
    <li>Com relação à segurança, os grupos de usuários com informações confidenciais são colocados em redes separadas.
    </li>
    <li>As redes VLANs diminuem o domínio de broadcast, porém aumenta o tráfego de atualização dos dados dos
        computadores.</li>
    <li>Uma das preocupações fundamentais para o sucesso das redes VLANs é dar nomes adequados, e isso diminuirá o
        tráfego.</li>
    <li>A divisão da rede em grupos de trabalho, apesar de ser mais fácil de projetar, acarreta tráfego muito maior.
    </li>
    <li>As redes VLANs são importantes para a diminuição do tráfego, porém, o gerenciamento dos aplicativos é mais
        difícil.</li>
</ol>

<hr>

<p><strong>5.</strong> Uma empresa utiliza em seus escritórios o processamento de texto através do Google Docs, e o
    departamento de mídia trabalha com um ambiente de edição de vídeos hospedado na nuvem. Com essas informações,
    selecione a alternativa correta:</p>

<ol type="a">
    <li>Na computação em nuvem, esse é um serviço do tipo PaaS.</li>
    <li>Na computação em nuvem, esse é um serviço do tipo IaaS.</li>
    <li>Na computação em nuvem, esse é um serviço do tipo SaaS.</li>
    <li>Na computação em nuvem, o primeiro serviço pode ser SaaS e o segundo não se encaixa em ambiente de nuvem.</li>
    <li>Na computação em nuvem, esse é um serviço que não se encaixa em ambientes de nuvem, pois edição de vídeos
        demanda muito a utilização de rede.</li>
</ol>

<hr>

<p><strong>5.1</strong> O servidor DHCP é utilizado para facilitar a atribuição de endereços IP para as estações.
    Assinale a alternativa correta quanto às características do DHCP:</p>

<ol type="a">
    <li>Os endereços IP atribuídos para as estações de uma rede são feitos de forma aleatória.</li>
    <li>O servidor DHCP aloca endereços IP para os hosts e para os servidores, assim, os administradores não se
        preocupam com endereçamentos.</li>
    <li>A alocação dos endereços IP através do DHCP, apesar de serem interessantes para o administrador de redes, causa
        muito tráfego na rede.</li>
    <li>O servidor DHCP possui mecanismos de alocação de endereços, que podem ser manuais, automáticos e dinâmicos.</li>
    <li>O servidor DHCP é importante para que os endereços MAC possam ser alocados dinamicamente.</li>
</ol>

<hr>

<p><strong>6.</strong> Com relação à virtualização de servidores, vários conceitos são utilizados. Assinale a
    alternativa correta:</p>

<ol type="a">
    <li>A virtualização de servidores tem por objetivo aumentar o tamanho físico dos servidores e, assim, poder
        disponibilizar mais hardware.</li>
    <li>Com a virtualização de servidores, os tempos ociosos da CPU são completamente eliminados e, assim, ocorre o
        aproveitamento de 100% da capacidade.</li>
    <li>A virtualização de servidores só é possível para computadores que tiverem o componente de hardware chamado
        hypervisor.</li>
    <li>A capacidade de servidores serem transferidos para outros servidores físicos é conhecida como instância.</li>
    <li>No processo de virtualização, os computadores físicos são convertidos em máquinas virtuais e isso apenas com
        relação ao processador.</li>
</ol>

<hr>

<p><strong>6.1</strong> Nos sistemas dos mainframes, os discos rígidos são utilizados com a tecnologia RAID – redundant
    array of independent disks. Com relação à utilização dessa tecnologia, podemos afirmar que ela:</p>

<ol type="a">
    <li>aumenta a performance dos cálculos matemáticos complexos, pois uma parte dos dados da equação fica em um disco,
        e o resultado parcial, em outro. Assim o acesso fica mais rápido.</li>
    <li>é implementada em um disco rígido e, por ser uma velocidade de acesso, é mais rápida.</li>
    <li>gerencia a velocidade dos discos e procura sempre gravar no disco mais rápido.</li>
    <li>gerencia o armazenamento, de forma a garantir que os dados não sejam comprometidos, mesmo quando acontecerem
        falhas.</li>
    <li>garante que os mainframes possam ser utilizados em qualquer tipo de atividade, desde uma pequena empresa até uma
        empresa com muitas filiais, por exemplo.</li>
</ol>

<hr>

<p><strong>6.2</strong> Um Data Center tem um papel importante nos atuais cenários de infraestrutura de TI e para os
    negócios das empresas e, para isto, torna-se necessário um dimensionamento dos serviços a serem oferecidos e que
    devem seguir determinados critérios. Selecione a resposta correta, quanto aos critérios a serem analisados quando da
    escolha de um Data Center:</p>

<ol type="a">
    <li>Os critérios a serem avaliados devem fornecer indicadores de desempenho, disponibilidade, escalabilidade,
        segurança e gerenciabilidade.</li>
    <li>Os critérios a serem avaliados envolvem a condição de os equipamentos continuarem funcionando, independentemente
        de algum incidente, além das condições dos softwares de controle sem riscos de invasão ou mesmo de vírus.</li>
    <li>Os critérios a serem avaliados devem fornecer indicadores de qualidade das instalações elétricas, qualidade dos
        fornecedores dos servidores e equipamentos de rede e condição financeira da empresa proprietária do Data Center.
    </li>
    <li>A empresa proprietária do Data Center deve ser avaliada quanto à sua capacidade técnica e financeira e estar
        instalada em uma região livre de terremotos ou inundações.</li>
    <li>A empresa proprietária do Data Center deve ser de alta confiança, a começar pelos sócios e o local de instalação
        física, evitando crises ocasionadas por instabilidade do tempo.</li>
</ol>

<hr>

<p><strong>7.</strong> Uma empresa em crescimento possui uma rede com 20 computadores e um switch de 24 portas que os
    interliga. Uma área de negócios com mais 15 usuários foi criada e ficará no mesmo andar, formando então a rede nova.
    Especifique os equipamentos de rede que você utilizará, sendo que um dos requisitos será que todos os computadores
    da empresa possam se comunicar. Justifique as escolhas dos equipamentos.</p>

<p><strong>Resposta:</strong> Utilizaria mais um switch para conectar os 15 novos computadores e um roteador para
    interligar as redes, garantindo que todos os computadores possam se comunicar. Justifica-se o uso do switch para
    conexões locais e do roteador para
    comunicação entre redes.</p>

<p><strong>Explicação:</strong> A justificativa da escolha do switch e do roteador é que a função básica de cada um
    deles é bem definida, sendo o switch usado para interligar computadores na camada de enlace, e o roteador, para
    interligar redes.</p>

<hr>

<p><strong>7.1</strong> Faça uma comparação do modelo de SaaS com a arquitetura tradicional de TI e explique como os
    desenvolvedores de aplicações podem usar o conceito de Marketplace para comercializar seus produtos e serviços.</p>

<p><strong>Resposta:</strong> Diferente da arquitetura tradicional, onde o software é instalado localmente, o modelo
    SaaS oferece acesso via internet,
    sem necessidade de infraestrutura própria. Desenvolvedores podem usar Marketplaces para divulgar, vender e
    distribuir
    seus aplicativos de forma mais rápida e escalável.</p>

<p><strong>Explicação:</strong> O aluno deve demonstrar conhecer a infraestrutura de serviços de TI e o posicionamento
    de SaaS nessa arquitetura. E quanto à utilização das empresas fornecedoras de software, será interessante mostrar o
    conhecimento de Marketplace.</p>

<hr>

<p><strong>Abaixo encontra-se as respostas das questões anteriores:</strong></p>
<ul>
    <li>1. &nbsp;&nbsp;e</li>
    <li>1.1 d</li>
    <li>2. &nbsp;&nbsp;e</li>
    <li>3. &nbsp;&nbsp;b</li>
    <li>3.1 d</li>
    <li>4. &nbsp;&nbsp;e</li>
    <li>4.1 a</li>
    <li>5. &nbsp;&nbsp;a</li>
    <li>5.1 d</li>
    <li>6. &nbsp;&nbsp;d</li>
    <li>6.1 d</li>
    <li>6.2 a</li>
</ul>

{% include nav-aula.html next="false" url="paginas/quizzes/mainquizzes.html" %}
{% include footer.html %}