---
---

{% include head-quiz.html page-title="Quiz - InfraTI" %}
{% include banner-aula.html heading="Quiz de Infraestrutura de Tecnologia da Informação" %}

<p><strong>1.</strong> Os processos de um sistema operacional possuem os seguintes estados: em execução, pronto e
    bloqueado. As transições entre esses estados integram o modo de funcionamento do sistema operacional.
    A partir dessas informações, avalie as asserções a seguir e a relação proposta entre elas.</p>
<ol type="I">
    <li>Um processo em execução pode passar para o estado de bloqueado, quando, por exemplo: um recurso que ele
        necessita não está disponível. </li>
    <li>Esse bloqueio de um processo em execução é fundamental para que o processador não fique travado esperando um
        recurso que não dará a resposta.</li>
</ol>
<p><strong>Resposta Selecionada:</strong> a. As asserções I e II são proposições verdadeiras, e a II é uma justificativa
    correta da I.</p>

<hr>

<p><strong>2.</strong> A comunicação entre dispositivos em uma rede é possível graças à existência de regras claras, e,
    através de protocolos específicos, as diversas tarefas são realizadas. No cenário de comunicação, surgem, então,
    alguns conceitos. Selecione a alternativa correta:</p>
<p><strong>Resposta Selecionada:</strong> d. O endereço MAC dos dispositivos é um indicador de 48 bits utilizado para
    identificar um dispositivo. Uma organização mundial separa bits para cada fabricante, e esses atribuem aos seus
    produtos. Assim, cada dispositivo no mundo possui um endereço MAC único.</p>

<hr>

<p><strong>3.</strong> A virtualização pode ser considerada como a execução de vários servidores virtuais em um só
    servidor físico.</p>
<p>Com relação à virtualização, avalie as afirmações a seguir:</p>
<ol type="I">
    <li>É um software que deve ser instalado em cada máquina virtual criada.</li>
    <li>O conceito de máquina virtual surgiu com a tecnologia de multiprocessamento, inicialmente lançada nos
        Mainframes.</li>
    <li>A virtualização simplifica o gerenciamento e possibilita flexibilizar e ampliar o poder de processamento.</li>
</ol>
<p><strong>Resposta Selecionada:</strong> d. II e III, apenas.</p>

<hr>

<p><strong>4.</strong> Um coordenador de infraestrutura de TI de uma universidade com cursos focados na área de medicina
    tem a tarefa de instalar novos sistemas nos computadores dos diversos laboratórios, para que alunos e professores
    possam desenvolver seus projetos. Com base nessa situação, escolha a melhor solução de sistema operacional para os
    computadores dos servidores e das estações de trabalho.</p>
<p><strong>Resposta Selecionada:</strong> c. Para os servidores, deve-se escolher o Windows Server ou uma distribuição
    Linux para servidor. Para as estações, deve-se verificar os programas a serem utilizados; se não tiverem nenhuma
    exigência de um sistema operacional, pode ser tanto Windows como Linux nas estações.</p>

<hr>

<p><strong>5.</strong> Um sistema operacional tem por finalidade maximizar a produtividade de um computador e fornecer
    ao usuário condições de utilização do computador sem se preocupar com detalhes da arquitetura interna. Selecione a
    opção correta:</p>
<p><strong>Resposta Selecionada:</strong> b. O sistema operacional é composto por uma coleção de programas que
    inicializam o hardware, fornecem as rotinas para controle dos dispositivos, gerenciam e escalonam as tarefas e,
    assim, mantêm a integridade do sistema.</p>

<hr>

<p><strong>6.</strong> As diversas tecnologias desenvolvidas para infraestrutura de TI fornecem às organizações diversas
    possibilidades para seus negócios: os mainframes, a arquitetura Cliente-servidor e, mais recentemente, a Computação
    em Nuvem. Qual das alternativas é a correta?</p>
<p><strong>Resposta Selecionada:</strong> a. A adoção de uma infraestrutura de TI deve ser avaliada de acordo com as
    necessidades da empresa. Por exemplo, uma empresa pode funcionar com uma arquitetura Cliente-servidor em suas
    instalações e utilizar recursos de um provedor de Computação em Nuvem para determinadas necessidades.</p>

<hr>

<p><strong>7.</strong> Uma empresa de produção de roupas infantis está em expansão de seus negócios e, para tanto, a
    infraestrutura de TI precisa ser ampliada. Desse modo, foram comprados dois computadores para serem utilizados como
    servidores e cada um possui dois discos rígidos.</p>
<p>A partir dessas informações, avalie as asserções a seguir e a relação proposta entre elas.</p>
<ol type="I">
    <li>Um dos discos rígidos do servidor será utilizado para armazenamento dos dados dos programas.</li>
    <li>A proposta de utilização do disco rígido no computador servidor é uma situação de backup.</li>
</ol>
<p><strong>Resposta Selecionada:</strong> c. A asserção I é uma proposição verdadeira, e a II é uma proposição falsa.
</p>

<hr>

<p><strong>8.</strong> A Computação em Nuvem oferece diversos tipos e modelos de negócios, através de serviços, e, para
    isso, possui características essenciais.</p>
<p>Selecione a alternativa que representa os serviços essenciais fornecidos pelos provedores de nuvem.</p>
<p><strong>Resposta Selecionada:</strong> c. As características essenciais são: on-demand self-service, resource
    pooling, rapid elasticity e broad netwok access.</p>

<hr>

<p><strong>9.</strong> A Computação em nuvem fornece diversos tipos de modelos de serviços, e um deles é o SaaS.</p>
<p>Com relação a características do modelo SaaS, selecione a alternativa correta.</p>
<p><strong>Resposta Selecionada:</strong> d. Esse modelo possibilita que os usuários possam utilizar os softwares para
    suas atividades sem a necessidade de instalação, manutenção e atualizações.</p>

<hr>

<p><strong>10.</strong> Uma empresa de consultoria está desenvolvendo seu site para que clientes possam contratar seus
    serviços de projeto de infraestrutura de TI, principalmente em especificação e instalação de servidores.</p>
<p>Com relação à especificação de servidores que podem ser colocadas no site, avalie as afirmações a seguir:</p>
<ol type="I">
    <li>O servidor WEB proporcionará o acesso às informações em um formato de página Web com a utilização de um
        navegador. </li>
    <li>Um servidor de impressão, ao ser instalado em sua empresa, dará maior controle na quantidade de cópias impressas
        e diminuição no custo de impressoras e suprimentos. </li>
    <li>O servidor Proxy permitirá compartilhar e controlar o acesso à Internet.</li>
</ol>
<p><strong>Resposta Selecionada:</strong> e. I, II e III.</p>

<hr>

<nav class="navlink">
    <a href="../mainquizzes.html" target="_self" rel="prev">Voltar para os quizzes</a>
</nav>
{% include footer.html %}