---
---

{% include head-quiz-prova.html page-title="Quiz - P.T.S." %}
{% include heading-aula.html heading="Quiz de Pesquisa, Tecnologia e Sociedade" %}

<p><strong>1.</strong> A metodologia envolve a maneira como algumas informações são coletadas, organizadas e analisadas.
    Isso envolve o que denominamos amostragem, um processo relacionado:</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. à forma como uma coleta é realizada e aos métodos de seleção de uma amostra.</p>

<hr>

<p><strong>2.</strong> O indivíduo enquanto sujeito do conhecimento estabelece uma relação com o seu objeto de estudos.
    Ele possui essa capacidade porque é um sujeito cognoscente. De acordo com as discussões estabelecidas, o sujeito
    cognoscente:</p>
<p><strong>Resposta Correta:</strong></p>
<p>b. é aquele que é dotado de uma cognição (do latim cognitio), que se refere à capacidade de conhecer.</p>

<hr>

<p><strong>3.</strong> Quando falamos em um percurso autoral, estamos discutindo nossa capacidade de fazer um uso
    criativo da linguagem, com o objetivo de transgredir algumas fronteiras simbólicas. Sobre isso, Humberto Maturana e
    Francisco Varela criaram o termo autopoieses, que tem a ver com a nossa:</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. capacidade de nos renovar constantemente para a garantia de nossa autopreservação e manutenção da vida. Os
    processos criativos dependem, inclusive, dessa capacidade de constante renovação e adaptação.</p>

<hr>

<p><strong>4.</strong> Em 28 de setembro de 1940, a ABNT (Associação Brasileira de Normas Técnicas) se tornou
    responsável pela elaboração das Normas Brasileiras (NBR). De acordo com ela:</p>
<p><strong>Resposta Correta:</strong></p>
<p>b. alguns princípios técnicos importantes passam a ser utilizados como referência para a elaboração de trabalhos
    acadêmicos.</p>

<hr>

<p><strong>5.</strong> A teoria serve como base para a produção científica. Ao investigar um objeto, é importante contar
    com um acervo que dê respaldo às ideias defendidas. No momento de elaborar o projeto de pesquisa, algumas escolhas
    teóricas precisam ser feitas. Entre as alternativas a seguir, qual apresenta os elementos teóricos de uma
    investigação?</p>
<p><strong>Resposta Correta:</strong></p>
<p>a. A escolha de um tema, o reconhecimento de um problema relacionado a esse tema, a definição dos objetivos da
    pesquisa, a elaboração de uma justificativa e o levantamento prévio de hipóteses.</p>

<hr>

<p><strong>6.</strong> Ao participar de um debate sobre os impasses que envolvem a administração das contas públicas, um
    aluno do curso de Contabilidade decidiu encerrar a conversa dizendo que sua área de estudos não era necessariamente
    aquela, mas que ele se dedicava apenas às atividades financeiras de empresas privadas.</p>
<p>Diante dessa situação, leia atentamente as afirmações a seguir e indique qual delas descreve um dos grandes desafios
    da ciência na atualidade.</p>
<p><strong>Resposta Correta:</strong></p>
<p>c. Um dos grandes desafios da ciência na atualidade se refere à superação do entendimento do saber de maneira
    compartimentada e desconexa; precisamos compreender a complexidade do conhecimento, superando as limitações impostas
    pela divisão do saber em disciplinas.</p>

<hr>

<p><strong>7.</strong> Alguns recortes estabelecidos dentro de uma pesquisa nos permitem compreender suas
    especificidades. Um deles tem a ver com o tipo de abordagem definido pelo pesquisador. Um projeto que se denomina
    como básico terá como enfoque a realização de uma análise por meio de conceitos, mas sem uma aplicação imediata.
    Além dela, podemos citar a abordagem aplicada, que tem a ver com:</p>
<p><strong>Resposta Correta:</strong></p>
<p>b. a produção de conhecimento voltado para uma aplicação prática, para a solução de um problema.</p>
<hr>

<p><strong>8.</strong> Nós, seres humanos, temos uma forma de comunicação extremamente complexa. Por intermédio do uso
    de um código específico, transmitimos uma informação ou interagimos com as pessoas e com diversos fenômenos. Diante
    disso, podemos definir a linguagem como:</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. o meio pelo qual nos expressamos, construímos ideias abstratas sobre nossa existência, transmitimos uma informação
    ou interagimos com as pessoas.</p>

<hr>

<p><strong>9.</strong> Ao ingressar na universidade, um estudante afirma que se interessou pelo curso de Biologia
    porque, durante o Ensino Médio, participou de um projeto de extensão vinculado ao departamento de Genética e
    Biologia Evolutiva do campus. Segundo seu relato, esse projeto permitiu a ele conhecer um laboratório e participar
    de jornadas científicas promovidas pela universidade.</p>
<p>Nesse sentido, podemos concluir que os projetos de extensão têm como finalidade:</p>
<p><strong>Resposta Correta:</strong></p>
<p>c. construir um diálogo entre a universidade e a comunidade, estabelecendo uma ponte entre o que se produz dentro
    dela e o que se encontra para além de seus muros.</p>

<hr>

<p><strong>10.</strong> A palavra universidade provém do latim universitas e significa universo, totalidade. De acordo
    com a Lei de Diretrizes e Bases (LDB), os três pilares que sustentam a universidade devem permitir a formação de
    quadros profissionais de Nível Superior, objetivando o cultivo do saber humano e a promoção da produção de
    conhecimento.</p>
<p>Podemos afirmar que os três pilares apontados se referem a:</p>
<p><strong>Resposta Correta:</strong></p>
<p>c. ensino, pesquisa e extensão.</p>

<hr>

<p><strong>11.</strong> A teoria serve como base para a produção científica. Ao investigar um objeto, é importante
    contar com um acervo que dê respaldo às ideias defendidas. No momento de elaborar o projeto de pesquisa, algumas
    escolhas teóricas precisam ser feitas. Entre as alternativas a seguir, qual apresenta os elementos teóricos de uma
    investigação?</p>
<p><strong>Resposta Correta:</strong></p>
<p>a. A escolha de um tema, o reconhecimento de um problema relacionado a esse tema, a definição dos objetivos da
    pesquisa, a elaboração de uma justificativa e o levantamento prévio de hipóteses.</p>

<hr>

<p><strong>12.</strong> Observe a charge a seguir:</p>
<p>A charge apresenta duas possibilidades metodológicas opostas, o método científico e o método criacionista. No segundo
    quadrinho, há uma crítica à elaboração de uma pesquisa científica que ignora uma etapa fundamental e que tem como
    objetivo manipular os dados para afirmar uma ideia sem o devido fundamento ou respaldo científico.</p>
<p>Essa etapa fundamental seria:</p>
<p><strong>Resposta Correta:</strong></p>
<p>a. a escolha dos procedimentos metodológicos para a realização da análise.</p>

<hr>

<p><strong>13.</strong> Observe a imagem a seguir para responder à questão:</p>
<p>Com a chegada da Idade Moderna, o mundo passa a ser compreendido como algo em constante movimento, e a natureza
    precisa ser manipulada para atender às demandas da indústria. O conhecimento científico se torna uma condição
    importante para a expansão do capitalismo e exige do homem uma postura:</p>
<p><strong>Resposta Correta:</strong></p>
<p>c. ativa para o controle da natureza e sua manipulação, intensificando a premissa de satisfação de nossos interesses
    particulares.</p>

<hr>

<p><strong>14.</strong> O modo de conhecer depende da relação que se estabelece entre o sujeito cognoscente e o objeto
    de conhecimento. Entre as alternativas a seguir, assinale o(s) tipo(s) de conhecimento estudado(s):</p>
<p><strong>Resposta Correta:</strong></p>
<p>c. O senso comum, o conhecimento filosófico, o religioso e o empírico.</p>

<hr>

<p><strong>15.</strong> Para recolher uma amostra, um pesquisador realiza um processo denominado amostragem. Ele serve
    para a coleta de dados relevantes para a pesquisa e existem diferentes formas de selecionar os indivíduos que
    participarão dela. As técnicas de amostragem são divididas em duas (probabilística e não probabilística), levando-se
    em consideração a probabilidade de algum indivíduo de uma população participar dela.</p>
<p><strong>Resposta Correta:</strong></p>
<p>a. A amostragem probabilística representa uma forma de coleta de dados em que toda a população tem a probabilidade de
    participar de uma pesquisa, uma vez que não há um critério prévio estabelecido pelo pesquisador.</p>

<hr>

<p><strong>16.</strong> Observe a imagem a seguir para responder à questão:</p>
<p>Essa imagem, produzida por Leonardo Da Vinci, simboliza um momento importante de transição da Idade Média para a
    Idade Moderna, período marcado pela efervescência social e cultural e uma profunda alteração na forma de pensamento
    da época. Uma dessas mudanças tem como referência:</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. o estabelecimento da lógica antropocêntrica, que posiciona o homem no centro do universo e o reaproxima de uma
    forma de fazer ciência que valoriza a razão.</p>

{% include nav-aula.html next="false" url="paginas/quizzes/mainavaliacoes.html" %}
{% include footer.html %}