---
---

{% include head-quiz-prova.html page-title="Quiz - AdS" %} {% include
heading-quiz-prova.html heading="Quiz de Análise de Sistemas" %}

<p>
  <strong>1.</strong> Quais são os dois principais itens que são verificados na
  análise de viabilidade de um projeto de sistema?
</p>
<p><strong>Resposta Correta:</strong> Financeiros e técnicos.</p>

<hr />

<p>
  <strong>2.</strong> Um diretor da área de desenvolvimento, com perfil
  tradicional e preocupado com os objetivos finais do software, sugeriu um
  modelo que combinasse os fundamentos da prototipação com os aspectos
  sistemáticos e controlados do modelo "cascata".
</p>
<p>Qual o modelo sugerido pelo diretor de desenvolvimento?</p>
<p><strong>Resposta Correta:</strong> Espiral</p>

<hr />

<p>
  <strong>3.</strong> No algoritmo descrito abaixo, representado em
  pseudocódigo, que tipo de estrutura de decisão está sendo utilizada? Assinale
  a alternativa correta.
</p>
<pre class="code">
início
NOME: literal
MEDIA: numérico
leia NOME
leia MEDIA
se MEDIA >= 7
então escreva "O aluno", NOME, "está aprovado"
senão escreva "O aluno", NOME, "está reprovado"
fim-se
fim
</pre>
<p><strong>Resposta Correta:</strong> Estrutura de decisão composta.</p>

<hr />

<p>
  <strong>4.</strong> O plano de gerenciamento de riscos é um dos planejamentos
  mais importantes que o gerente de projeto deve elaborar.
</p>
<p>
  Qual das alternativas abaixo descreve os riscos mais importantes que devem ser
  mapeados?
</p>
<p><strong>Resposta Correta:</strong> Projeto, produto e negócio.</p>

<hr />

<p>
  <strong>5.</strong> Um sistema da Empresa Alfa foi acessado indevidamente por
  usuários maliciosos e causaram prejuízos econômicos para a empresa.
</p>
<p>
  Qual das alternativas abaixo descreve o principal atributo do sistema que se
  mostrou frágil?
</p>
<p><strong>Resposta Correta:</strong> Confiança e proteção.</p>

<hr />

<p>
  <strong>6.</strong> O diretor de tecnologia solicitou ao gerente do projeto de
  desenvolvimento do software de monitoramento de remédios controlados que o
  algoritmo fosse representado graficamente.
</p>
<p>
  Indique a alternativa que corresponde às representações gráficas de
  algoritmos:
</p>
<p><strong>Resposta Correta:</strong> Fluxograma e diagrama de Chapin.</p>

<hr />

<p>
  <strong>7.</strong> O presidente de uma rede de drogarias recomendou ao
  diretor de tecnologia, com relação ao desenvolvimento do software de
  monitoramento de remédios controlados, muita atenção no gerenciamento de
  riscos que pudessem afetar a organização.
</p>
<p>Qual alternativa indica o tipo de risco a que o presidente se refere?</p>
<p><strong>Resposta Correta:</strong> Risco de negócios.</p>

<hr />

<p>
  <strong>8.</strong> O presidente de uma rede de drogarias solicitou o
  desenvolvimento de um software para monitorar a venda de remédios controlados.
  O diretor da área de tecnologia da empresa solicitou ao gerente de projetos
  atenção nas tarefas de atribuição de prazos, responsáveis e recursos para cada
  atividade do projeto.
</p>
<p>
  Qual alternativa representa a atividade de gerenciamento de projetos a que o
  diretor de tecnologia se refere?
</p>
<p><strong>Resposta Correta:</strong> Programação de atividades.</p>

<hr />

<p>
  <strong>9.</strong> Durante a fase de levantamento de requisitos, o diretor de
  tecnologia sugeriu que fossem realizadas reuniões com os principais envolvidos
  no projeto, principalmente para evitar requisitos contraditórios e promover
  acordos entre os solicitantes.
</p>
<p>Qual é a alternativa que indica a técnica sugerida pelo diretor?</p>
<p><strong>Resposta Correta:</strong> Técnica de levantamento em grupo.</p>

<hr />

<p>
  <strong>10.</strong> O gerente do projeto solicitou que no diagrama de casos
  de uso fosse identificada a sequência na qual os casos de uso precisam ser
  desenvolvidos.
</p>
<p>
  Que tipo de relacionamento deve ser utilizado para atender à solicitação do
  gerente de projetos?
</p>
<p><strong>Resposta Correta:</strong> Dependência</p>

<hr />

<p>
  <strong>11.</strong> Em uma reunião de controle do andamento do Projeto
  Pegasus, referente ao desenvolvimento de um novo software, o gerente de
  Projetos estava mais preocupado com as respostas para as questões do tipo?
</p>
<p>
  <strong>Resposta Correta:</strong> Quanto tempo estamos atrasados? Qual o
  impacto no orçamento?
</p>

<hr />

<p>
  <strong>12.</strong> Na representação de um algoritmo, por meio do
  pseudocódigo, qual o comando principal caracteriza uma estrutura de decisão
  composta?
</p>
<p>Assinale a alternativa correta.</p>
<p><strong>Resposta Correta:</strong> "senão "</p>

<hr />

<p>
  <strong>13.</strong> Entre as técnicas principais utilizadas para o
  levantamento de requisitos, o diretor executivo sugeriu adotar a utilização de
  questionários, realização de entrevistas e análise de documentação.
</p>
<p>
  A qual o tipo de técnica de identificação de requisitos o diretor se referiu?
</p>
<p><strong>Resposta Correta:</strong> Técnicas tradicionais</p>

<hr />

<p>
  <strong>14.</strong> Para o desenvolvimento do Projeto Pegasus, de
  desenvolvimento de software, a Diretoria de Tecnologia da Informação (TI)
  determinou que fosse adotada uma estratégia na qual os componentes do novo
  software fossem desenvolvidos como unidades independentes.
</p>
<p>Qual paradigma está mais associado a essa estratégia?</p>
<p><strong>Resposta Correta:</strong> Orientado a Objeto.</p>

<hr />

<p>
  <strong>15.</strong> O produto gerado pelo Projeto Pegasus está em produção,
  iniciando a nova etapa do ciclo de vida do desenvolvimento: a manutenção.
  Porém, após a fase de testes e antes da implantação, o sistema operacional de
  seu servidor foi alterado sem a devida comunicação ao gestor do projeto,
  trazendo problemas de lentidão ao produto.
</p>
<p>Qual o motivo principal e que tipo de manutenção deve ser aplicada?</p>
<p>
  <strong>Resposta Correta:</strong> Alterações no ambiente de processamento:
  manutenção adaptativa.
</p>

<hr />

<p>
  <strong>16.</strong> Qual alternativa descreve o modelo de desenvolvimento em
  que o software é produzido em uma série de versões evolucionárias e reconhece
  abertamente as possibilidades de algo dar errado?
</p>
<p><strong>Resposta Correta:</strong> Espiral.</p>

<hr />

<p>
  <strong>17.</strong> A equipe do projeto do desenvolvimento do software
  solicitou que fosse desenhado o diagrama de classes.
</p>
<p>
  Qual destas alternativa representa o principal objetivo do diagrama de
  classes?
</p>
<p>
  <strong>Resposta Correta:</strong> Fornecer uma representação gráfica da
  estrutura estática do software.
</p>

<hr />

<p>
  <strong>18.</strong> Durante o desenvolvimento do Projeto Pegasus, o gerente
  de projeto demonstrou bastante atenção com o cuidado e o gerenciamento de
  todos os recursos humanos envolvidos. Qual a alternativa que descreve a área
  de preocupação do gerente do projeto?
</p>
<p><strong>Resposta Correta:</strong> Pessoal.</p>

<hr />

<p>
  <strong>19.</strong> Na lógica de programação, é constante a necessidade da
  tomada de decisão representada por meio de estruturas de decisão. Assinale a
  alternativa que corresponde à estrutura de decisão que executa comandos a
  partir apenas da condição verdadeira e que apresenta três operadores
  relacionais.
</p>
<p>
  <strong>Resposta Correta:</strong> Estrutura de decisão simples / "=", "<" e
  ">".
</p>

<hr />

<p>
  <strong>20.</strong> Um diretor da área de desenvolvimento determinou que o
  processo para a identificação dos requisitos fosse cumprido corretamente. Qual
  a correta sequência de atividades do processo de engenharia de requisitos?
</p>
<p>
  <strong>Resposta Correta:</strong> Concepção > Levantamento > Elaboração >
  Negociação > Especificação > Validação
</p>

<hr />

<p>
  <strong>21.</strong> Um diretor da área de desenvolvimento, preocupado com a
  quantidade de funções solicitadas para o novo software, recomendou à sua
  equipe de testes que fossem realizados alguns testes, de forma integrada,
  sempre que um novo componente fosse adicionado à solução. A qual tipo de teste
  o diretor está se referindo?
</p>
<p><strong>Resposta Correta:</strong> Regressão</p>

<hr />

<p>
  <strong>22.</strong> O diretor executivo de uma empresa de seguros solicitou o
  desenvolvimento de um software para identificar, no mercado, os veículos com
  seguros de outra empresa, com a finalidade de ofertar o seu produto. O diretor
  da área de desenvolvimento recomendou ao gerente de projeto uma atenção
  especial à atividade de levantar o esforço humano exigido, a duração
  cronológica do projeto e os custos. A qual atividade de gerenciamento de
  projeto o diretor de TI está se referindo?
</p>
<p><strong>Resposta Correta:</strong> Estimativa</p>

<hr />

<p>
  <strong>23.</strong> Um novo projeto de desenvolvimento de software foi
  iniciado na Empresa Alfa, em que o cliente conhecia bem seus objetivos mas não
  tinha claramente definido algumas funcionalidades e recursos. Qual das
  alternativas descreve o melhor modelo a ser utilizado no projeto?
</p>
<p><strong>Resposta Correta:</strong> Prototipação.</p>

<hr />

<p>
  <strong>24.</strong> A metodologia denominada "DevOps" foi concebida pela
  junção dos processos das áreas de desenvolvimento e operações em uma única
  metodologia. Qual a alternativa descreve melhor suas características?
</p>
<p>
  <strong>Resposta Correta:</strong> Colaboração entre áreas, implantação
  contínua e compartilhamento de recursos.
</p>

<hr />

<p>
  <strong>25.</strong> Processo bem disciplinado, abordagem preditiva, a
  elaboração de documentação abrangente e o uso de ferramentas de apoio são
  características de uma metodologia de desenvolvimento de projeto. Indique a
  alternativa que descreva essa metodologia.
</p>
<p><strong>Resposta Correta:</strong> Tradicional.</p>

<hr />

<p>
  <strong>26.</strong> Na representação de um pequeno trecho do diagrama de caso
  de uso de um software de monitoramento de remédios controlados, os
  "bonecos-palitos" que retratam o atendente da drogaria, o gerente da drogaria
  e o cliente, representam qual elemento de um diagrama de caso de uso? Assinale
  a alternativa correta.
</p>
<p><strong>Resposta Correta:</strong> Atores.</p>

<hr />

<p>
  <strong>27.</strong> Durante a etapa de construção, é realizada a concepção da
  modularidade da estrutura do programa. Qual das alternativas abaixo representa
  os 3 principais tipos de módulos?
</p>
<p><strong>Resposta Correta:</strong> Sequencial, incremental e paralelo.</p>

<hr />

<p>
  <strong>28.</strong> Assinale a alternativa que contém três elementos de um
  diagrama de atividades:
</p>
<p><strong>Resposta Correta:</strong> Ação, fluxo e decisão.</p>

<hr />

<p>
  <strong>29.</strong> Qual dos itens abaixo apresenta três características de
  software?
</p>
<p>
  <strong>Resposta Correta:</strong> Complexidade, mutabilidade e conformidade.
</p>

<hr />

<p>
  <strong>30.</strong> Como o software solicitado pelo diretor executivo envolve
  o levantamento de informações de clientes de outra seguradora, o diretor
  determinou que os requisitos legais e éticos sejam bem detalhados para
  garantir que o novo software fique em conformidade com a legislação e seja
  aceito pelo público em geral. Com qual o tipo de requisito não funcional o
  diretor executivo está preocupado?
</p>
<p><strong>Resposta Correta:</strong> Requisitos externos</p>

<hr />

<p>
  <strong>31.</strong> Um sistema de uma empresa de seguros foi desenvolvido e
  entregue. Porém, depois de dois meses em produção, ficou quase sem nenhuma
  utilização, apenas 10% das suas funções continuaram necessárias. Qual etapa do
  ciclo de desenvolvimento de software não foi bem realizada?
</p>
<p><strong>Resposta Correta:</strong> Análise</p>

<hr />

<p>
  <strong>32.</strong> Considerado o modelo de ciclo de vida clássico ou
  tradicional de desenvolvimento de software, quais são e como estão,
  genericamente, sequenciadas suas etapas?
</p>
<p>
  <strong>Resposta Correta:</strong> Análise > Projeto > Construção > Testes >
  Implantação > Manutenção.
</p>

<hr />

<p>
  <strong>33.</strong> O gerente do projeto da rede de drogarias é responsável
  pelo desenvolvimento de um outro software, o qual está mais adiantado,
  realizando as atividades de especificação da estrutura de dados, procedimentos
  de operação, arquitetura de software e definição de interfaces. Qual
  alternativa corresponde à etapa do ciclo de desenvolvimento em que o software
  se encontra?
</p>
<p><strong>Resposta Correta:</strong> Projeto.</p>

<hr />

<p>
  <strong>34.</strong> Qual alternativa representa as diferenças entre as
  metodologias ágeis e tradicionais, considerando os atributos de
  <strong>cultura, orientação e medição de sucesso</strong>?
</p>
<p>
  <strong>Resposta Correta:</strong> Ágil: liderança, pessoas, valor para o
  negócio. Tradicional: comando, processo, conformidade com o planejamento.
</p>

<hr />

<p>
  <strong>33.</strong> No diagrama de casos de uso, elaborado para o software
  solicitado, foram desenhados os vendedores que irão utilizar o software para
  identificar os clientes que ofertarão o novo seguro. Os vendedores são
  elementos do diagrama conhecido como
</p>
<p><strong>Resposta Correta:</strong> Atores.</p>

<hr />

<p>
  <strong>36.</strong> Os modelos iterativos de desenvolvimento de software são
  considerados modelos evolucionários. Qual das alternativas abaixo representa
  os principais modelos iterativos corretamente?
</p>
<p><strong>Resposta Correta:</strong> Prototipação e espiral.</p>

<hr />

<p>
  <strong>37.</strong> O diretor da área de tecnologia demonstrou uma
  preocupação com a programação dos algoritmos para o software, já que, no
  passado, alguns softwares apresentaram falhas de programação. Qual alternativa
  indica que tipo de teste deve ser realizado com mais atenção?
</p>
<p><strong>Resposta Correta:</strong> Unidade.</p>

<hr />

<p>
  <strong>38.</strong> Durante a etapa dos testes do Projeto Pegasus,
  adicionou-se um novo componente ao sistema e identificaram-se várias falhas.
  Qual tipo de teste foi realizado para identificação desse problema?
</p>
<p><strong>Resposta Correta:</strong> Regressão.</p>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
