---
---

{% include head-quiz-prova.html page-title="Prova - AeP2" %} {% include
heading-quiz-prova.html heading="Questões da Prova de Algoritmos e Programação
II" %}

<p>
  <strong>1.</strong> Funções recursivas são definidas como funções que em sua
  implementação fazem chamada a si mesmas, causando a ideia de looping.
  Selecione a alternativa <strong>INCORRETA</strong> sobre funções recursivas.
</p>
<ol type="a">
  <li>
    Funções Recursivas Lineares criam uma expressão, que a cada nova chamada
    aumenta os cálculos da expressão, e apenas ao fim da recursão, a expressão é
    resolvida.
  </li>
  <li>
    Funções Recursivas precisam de uma condição de parada para que não fiquem em
    looping infinito.
  </li>
  <li>
    Funções Recursivas Iterativas, não utilizam comandos iterativos como
    <code>for</code> e <code>while</code>. Elas recebem esse nome porque
    utilizam um de seus parâmetros como resultado da função, guardando o estado
    parcial da resposta a cada nova iteração.
  </li>
  <li>
    Funções Recursivas, no momento que se chamam, devem enviar sempre os mesmos
    parâmetros que receberam para que seja possível avançar na recursão.
  </li>
  <li>
    Funções Recursivas podem ser substituídas por comandos iterativos como
    <code>for</code> e <code>while</code>.
  </li>
</ol>

<hr />

<p>
  <strong>2.</strong> Sobre a estrutura de dados bidimensional
  <code>matriz</code>, selecione a alternativa <strong>INCORRETA</strong>.
</p>
<ol type="a">
  <li>
    É muito utilizada para guardar estruturas que se assemelham com tabelas,
    como jogos de tabuleiro.
  </li>
  <li>
    O tamanho das dimensões são imutáveis, ou seja, não podem mudar após sua
    criação.
  </li>
  <li>
    As dimensões que ela representa podem ser comparadas às linhas e colunas.
  </li>
  <li>
    O tamanho das dimensões são mutáveis, ou seja, podem mudar após sua criação.
  </li>
  <li>Os valores armazenados em uma matriz devem ter o mesmo tipo.</li>
</ol>

<hr />

<p>
  <strong>3.</strong> Você trabalha para a Polícia Federal. Você e sua equipe
  precisam identificar se suspeitos transitaram por uma rodovia em um
  determinado dia. Os dados das placas dos veículos foram coletados pelas
  câmeras e foram salvos em um arquivo de texto. Você criou um algoritmo que lê
  os dados desse arquivo e os armazena em um vetor. Você tem a placa do veículo
  dos suspeitos e precisa identificar se ela consta na coleta realizada. Qual
  técnica de algoritmo você pretende utilizar para realizar tal tarefa sabendo
  que os dados não estão ordenados e que você não precisará realizar nenhuma
  busca no futuro?
</p>
<ol type="a">
  <li>Linear Search.</li>
  <li>QuickSort.</li>
  <li>Merge Sort.</li>
  <li>Binary Search.</li>
  <li>Bubble Sort.</li>
</ol>

<hr />

<p>
  <strong>4.</strong> Você está escrevendo um algoritmo para um novo banco de
  dados que irá concorrer no mercado. Para aumentar a performance, você adotará
  uma estratégia de indexação dos dados para que garanta a ordenação dos mesmos
  e possibilite consultas binárias futuramente. Qual algoritmo de ordenação mais
  eficiente você deve usar?
</p>
<ol type="a">
  <li>Linear Search.</li>
  <li>Vetor.</li>
  <li>QuickSort.</li>
  <li>Bubble Sort.</li>
  <li>Binary Search.</li>
</ol>

<hr />

<p>
  <strong>5.</strong> Sobre a estrutura de dados linear intitulada
  <code>vetor</code>, selecione a alternativa que corresponde à afirmativa
  <strong>correta</strong>:
</p>
<ol type="a">
  <li>
    É uma estrutura que pode guardar múltiplos valores de tipos diferentes.
  </li>
  <li>É possível ler, alterar, remover e adicionar elementos de um vetor.</li>
  <li>
    O tamanho de posições é definido no momento de sua criação e pode aumentar
    ou diminuir durante a execução do programa.
  </li>
  <li>
    A primeira posição é acessada pela posição 0 e a última pode ser acessada
    por <code>meuVetor[meuVetor.Length]</code>.
  </li>
  <li>
    Seu tamanho é fixo, porque ele guarda os valores na memória de tal forma que
    possibilite a maior performance.
  </li>
</ol>

<hr />

<p>
  <strong>6.</strong> No que diz respeito aos
  <code>Tipos Abstratos de Dados (TAD)</code>, selecione a alternativa
  <strong>INCORRETA</strong>.
</p>
<ol type="a">
  <li>
    Abstração é a capacidade de se concentrar no que é essencial e não nos
    detalhes de implementação.
  </li>
  <li>
    Podem ser vistos como o agrupamento de atributos e operações que manipulam
    esses atributos.
  </li>
  <li>
    É a capacidade do programador criar estruturas que representam melhor o
    problema sendo resolvido.
  </li>
  <li>
    O construtor é a função executada no momento da criação de uma nova
    instância, usado normalmente para definir os atributos iniciais.
  </li>
  <li>
    Tipos abstratos de Dados embora sejam eficientes e ajudem na modularização
    do programa, podem ser substituídos por Vetores.
  </li>
</ol>

<hr />

<p>
  <strong>7.</strong> Escreva um algoritmo em C# que escreva a tabuada de um
  número informado pelo usuário, através da técnica de Recursividade.
</p>
<p><strong>Resposta Correta:</strong></p>
<pre class="code">
public static void tabuada(int numero, int n)
{
    if (n > 10)
    {
        return;
    }

    int x = numero * n;
    Console.WriteLine($"{numero} x {n} = {x}");

    tabuada(numero, n + 1);
}

// Para chamar na Main:
// Console.WriteLine("Insira um número para a exibição da sua tabuada:");
// int num = int.Parse(Console.ReadLine());
// tabuada(num, 1); // Começando a tabuada do 1
</pre>

<hr />

<p><strong>Abaixo encontra-se as respostas das questões anteriores:</strong></p>
<ol>
  <li>d</li>
  <li>d</li>
  <li>a</li>
  <li>c</li>
  <li>e</li>
  <li>e</li>
</ol>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
