---
---

{% include head-quiz-prova.html page-title="Quiz - BdD" %} {% include
heading-quiz-prova.html heading="Quiz de Banco de Dados" %}

<p>
  <strong>1.</strong> Considere a notícia acima e a existência de diversos
  bancos de dados no Brasil que armazenam veículos em seus registros. Considere
  que cada um desses bancos de dados tenha uma tabela de veículos, cuja chave
  primária é a <strong>placa</strong>. Considere ainda que em cada banco de
  dados há outras tabelas que apontam para a tabela de veículos por meio de
  chaves estrangeiras.
</p>
<p>Dadas essas considerações, assinale a alternativa correta.</p>
<p>
  <strong>Resposta Correta:</strong> Mesmo com essas mudanças, é possível manter
  a placa como chave primária. Quando um veículo trocar de placa, será preciso
  atualizar a chave primária na tabela de veículos e atualizar os valores das
  chaves estrangeiras nas outras tabelas. Como cada uma dessas operações pode
  violar as restrições do banco de dados, pode ser necessário algum subterfúgio
  como por exemplo a desabilitação das chaves estrangeiras durante a operação.
</p>

<hr />

<p><strong>2.</strong> Considere as seguintes tabelas:</p>
<pre class="code">
CREATE TABLE paciente (id int primary key, nome text);
CREATE TABLE medico (id int primary key, nome text);
CREATE TABLE consulta (data date, id_paciente int, id_medico int);
</pre>
<p>
  Assinale a alternativa que indica uma consulta válida para identificarmos os
  <strong>médicos que não possuem consulta marcada na data de hoje</strong>.
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
SELECT DISTINCT m.nome as nome_medico FROM medico m LEFT JOIN consulta c ON c.id_medico = m.id WHERE data != curdate() or data is null;
</pre>

<hr />

<p>
  <strong>3.</strong> "Infodeck introdutório aos bancos de dados NoSQL: Este
  texto fornece uma breve introdução aos bancos de dados NoSQL. Nossa intenção é
  explicar ao público técnico-gerencial por que os bancos de dados NoSQL são
  importantes. Descrevemos por que os bancos de dados relacionais têm sido tão
  dominantes e quais forças levaram o NoSQL a quebrar esse domínio. Discutimos
  os principais benefícios de uma abordagem NoSQL, mas enfatizamos que os bancos
  de dados relacionais ainda têm um grande papel a desempenhar, por isso nossa
  ênfase na persistência poliglota." (FOWLER, M.; SADALAGE, P. Infodeck
  introdutório aos bancos de dados NoSQL. 2012).
</p>
<p>
  Assinale a alternativa que melhor explica o que os autores do texto citado
  querem dizer com <strong>"persistência poliglota"</strong>.
</p>
<p>
  <strong>Resposta Correta:</strong> Novos sistemas continuarão usando os SGBDs
  relacionais, mas ao mesmo tempo utilizarão outros bancos NoSQL para propósitos
  específicos.
</p>

<hr />

<p>
  <strong>4.</strong> Considere uma tabela de solicitações feitas por cidadãos à
  Prefeitura de São Paulo criada com o seguinte comando:
</p>
<pre class="code">
CREATE TABLE solicitacoes (
data_abertura text,
hora_abertura text,
prefeitura_regional text,
distrito text,
orgao text,
tema text,
assunto text,
servico text,
status_solicitacao text,
data_parecer text,
hora_parecer text
);
</pre>
<p>
  Considere ainda que uma certa consulta SQL produziu a seguinte saída (ordenada
  por <code>qtd</code> de forma decrescente, limitada a 5):
</p>
<pre class="code">
| tema          | qtd      |
|---------------|----------|
| Rua e bairro  | 526934   |
| Lixo e limpeza| 261443   |
| Transporte    | 249783   |
| Animais       | 195256   |
| Meio Ambiente | 185472   |
</pre>
<p>
  Qual das opções exibe uma consulta que poderia ter produzido a saída acima?
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
SELECT tema, count(*) as qtd FROM solicitacoes GROUP BY tema ORDER BY qtd DESC LIMIT 5;
</pre>

<hr />

<p><strong>5.</strong> Considere a seguinte consulta:</p>
<pre class="code">
SELECT nome FROM funcionario WHERE not(idade > 65 AND sexo = 'M' OR idade > 60 AND sexo = 'F');
</pre>
<p>
  Assinale a alternativa que indica um par válido de entrada e saída para essa
  consulta.
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
Entrada:
| nome     | idade | sexo |
|----------|-------|------|
| Moacir   | 70    | M    |
| Geraldo  | 67    | M    |
| Enzo     | 23    | M    |
| Karolyne | 23    | F    |
| Josefina | 63    | F    |
| Ivone    | 70    | F    |

Saída:
| nome     |
|----------|
| Enzo     |
| Karolyne |
</pre>

<hr />

<p>
  <strong>6.</strong> Considere a tabela <code>pratos</code> criada com:
  <code
    >CREATE TABLE pratos (nome text, pais_origem text, vegetariano boolean,
    preco float);</code
  >.
</p>
<p>
  Qual alternativa seleciona somente os pratos vegetarianos, mostrando a
  diferença entre o preço médio do prato e o preço do prato vegetariano mais
  caro de seu país de origem?
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
SELECT nome, (SELECT max(preco) FROM pratos p2 WHERE p1.pais_origem = p2.pais_origem and vegetariano) - preco as diferenca_pro_vegetariano_mais_caro FROM pratos p1 WHERE vegetariano;
</pre>

<hr />

<p>
  <strong>7.</strong> Considere a uma tabela <code>voos</code> contendo um
  registro por voo e a coluna <code>orig_estado_abrv</code>, que representa o
  estado da federação de origem do voo.
</p>
<p>Qual será o resultado da consulta abaixo?</p>
<pre class="code">
SELECT count(*) FROM voos WHERE orig_estado_abrv = 'SP' AND orig_estado_abrv = 'RJ';
</pre>
<p><strong>Resposta Correta:</strong> Zero.</p>

<hr />

<p>
  <strong>8.</strong> Considere a execução de uma sequência de comandos, mas com
  uma parte dos comandos executados em uma sessão, e a outra parte executada em
  outra sessão (Transações e Permissões).
</p>
<p>
  Associe corretamente a lista de comandos (I, II, III, IV) à lista de trechos
  das saídas produzidas (Acesso negado, Erro de sintaxe, Query OK, SELECT
  command denied to user).
</p>
<p>
  <strong>Lista de comandos:</strong>
</p>
<ol type="I">
  <li><code>$ mysql -u u1 db2 -psenha</code></li>
  <li><code>$ mysql -u u2 db1 -psenha &gt; DROP tb2;</code></li>
  <li>
    <code>$ mysql -u u3 db1 -psenha &gt; UPDATE tb1 SET x=2*x WHERE x>10;</code>
  </li>
  <li>
    <code>$ mysql -u u3 db2 -psenha &gt; UPDATE tb1 SET x=2*x WHERE x>10;</code>
  </li>
</ol>
<p><strong>Resposta Correta:</strong> (III) (I) (IV) (II)</p>

<hr />

<p>
  <strong>9.</strong> Considere agora a existência da tabela <code>voos</code>,
  com um voo por registro e com a coluna <code>data</code>, representando a data
  do voo.
</p>
<p>
  Qual dos seguintes comandos exibe corretamente
  <strong
    >todos os dados dos voos ocorridos na data do voo mais antigo
    registrado</strong
  >?
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
SELECT * FROM voos WHERE data = (SELECT min(data) FROM voos);
</pre>

<hr />

<p>
  <strong>10.</strong> Considere um banco de dados para um sistema de controle
  de estacionamentos. Assinale a alternativa que corresponda a uma modelagem
  para esse problema que esteja na <strong>BCFN</strong> (Boyce-Codd Normal
  Form).
</p>
<p>
  <strong>Requisitos:</strong> Armazenar horário de início e fim da estadia de
  cada veículo, o veículo estacionado, e o dono desse veículo.
</p>
<p>
  <strong>Resposta Correta:</strong> A modelagem com as três tabelas:
  <strong>estadia</strong> (inicio, fim, placa_veiculo),
  <strong>veiculo</strong> (placa, marca, modelo, cor, cpf_dono) e
  <strong>dono</strong> (cpf, nome).
</p>

<hr />

<p>
  <strong>11.</strong> Sobre <strong>índices</strong> é correto afirmar que:
</p>
<p>
  <strong>Resposta Correta:</strong> Considere uma base de dados construída para
  análises científicas que é montada uma vez e depois não é mais atualizada, e
  que possui muitos dados. Nesse caso compensa construir diversos índices que
  serão úteis para as consultas dos cientistas, pois mesmo que o tempo de
  criação dos índices seja grande, a alta velocidade das leituras subsequentes
  compensará o tempo de criação dos índices.
</p>

<hr />

<p>
  <strong>12.</strong> Assinale a alternativa que indica qual saída o comando
  abaixo pode produzir, considerando a tabela <code>doacoes</code> que registra
  doações para partidos políticos.
</p>
<pre class="code">
SELECT SiglaPartido, sum(Valor) as total_recebido FROM doacoes GROUP BY SiglaPartido ORDER BY total_recebido DESC LIMIT 5;
</pre>
<p>
  <strong>Resposta Correta:</strong> Uma tabela com duas colunas (<code
    >SiglaPartido</code
  >
  e <code>total_recebido</code>) contendo 5 linhas, ordenadas de forma
  decrescente pelo <code>total_recebido</code> (exemplo: PSDB, PT, SD, PSD, PMDB
  com seus respectivos totais).
</p>

<hr />

<p>
  <strong>13.</strong> Considere a tabela <code>municipio</code> criada com a
  chave primária <code>id</code> com a opção <code>auto_increment</code>.
  Considere a execução do comando:
  <code>INSERT INTO municipio (nome, uf) VALUES ('Salvador', 'BA');</code>.
</p>
<p>Considere agora as seguintes afirmações:</p>
<ol type="I">
  <li>A execução do comando acima incorrerá em erro.</li>
  <li>A chave primária deve ser especificada no comando INSERT.</li>
</ol>
<p>Assinale agora a opção correta.</p>
<p><strong>Resposta Correta:</strong> As sentenças I e II são falsas.</p>

<hr />

<p>
  <strong>14.</strong> Considere essas três formas de se utilizar o computador
  para se obter a previsão do tempo:
</p>
<pre class="code">
I - SELECT temperatura, precipitacao FROM previsao WHERE data = CURDATE();
II - Computador, por favor, me dê a previsão do tempo de hoje.
III - (Código Python/similar com inicialização de variáveis e loop FOR para buscar o dado)
</pre>
<p>
  Assinale a alternativa que corretamente
  <strong>ordena os itens acima em ordem crescente de abstração</strong>.
</p>
<p><strong>Resposta Correta:</strong> III, I, II.</p>

<hr />

<p><strong>15.</strong> Considere a seguinte tabela:</p>

<p>Tabela de municípios:</p>
<p>
  <strong><small>Não vou botar essa tabela no site nem ferrando</small></strong>
</p>

<p>É correto afirmar que essa tabela:</p>
<p>
  <strong>Resposta Correta:</strong> Possui os campos "nome", "uf", "populacao"
  e "area".
</p>

<hr />

<p>
  <strong>16.</strong> Imagine o site de uma grande loja global de livros. Há
  sempre muitos clientes comprando livros na loja, e de vários lugares do mundo.
  Considere que o site da loja armazene seus dados (livros no estoque, vendas,
  etc.) em um banco de dados MySQL. Considere ainda que essa loja estabeleceu
  uma política de backup on-line e incremental para o banco MySQL, sendo o
  backup executado de hora em hora.
</p>
<p>Considere agora as afirmações:</p>
<ol type="I">
  <li>
    Sendo uma loja global, não há horário sem usuários ativos, o que inviabiliza
    o backup off-line.
  </li>
  <li>
    Havendo um grande volume de dados, o backup completo periódico exigiria
    muito espaço em disco, o que sairia muito caro.
  </li>
  <li>
    Um backup on-line deve ser feito o mais rápido possível, e o backup completo
    poderia demorar muito.
  </li>
</ol>
<p>Sobre essas afirmações, assinale a alternativa correta.</p>
<p>
  <strong>Resposta Correta:</strong> As afirmações I, II e III fazem sentido e
  justificam a política de backup escolhida.
</p>

<hr />

<p>
  <strong>17.</strong> Considere a execução de uma sequência de comando, mas com
  uma parte dos comandos executados em uma sessão, e a outra parte executada em
  outra sessão. Os comandos estão listados abaixo, de forma que 1> indica o
  prompt da sessão 1, enquanto 2> indica o prompt da sessão 2.
</p>
<pre class="code">
1> CREATE TABLE pessoa (id int, nome text);
1> INSERT INTO pessoa VALUES (1, 'Fulano');
1> BEGIN;
1> INSERT INTO pessoa VALUES (2, 'Ciclano');
2> BEGIN;
2> INSERT INTO pessoa VALUES (3, 'Beltrano');
2> ROLLBACK;
2> SELECT * FROM pessoa;
</pre>
<p>
  Assinale a alternativa que indica a saída obtida para a execução do último
  comando da sequência.
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
+------+--------+
| id   | nome   |
+------+--------+
| 1    | Fulano |
+------+--------+
</pre>

<hr />

<p>
  <strong>18.</strong> Considere um banco de dados com uma tabela voos, contendo
  a coluna companhia, com a sigla da companhia aérea que operou o voo. Considere
  também que esse banco possui uma tabela companhias, com um cadastro de todas
  as companhias aéreas existentes. O que representa a seguinte consulta?
</p>
<pre class="code">
SELECT (SELECT count(distinct companhia) FROM voos) / (SELECT count(*) FROM companhias);
</pre>
<p>
  <strong>Resposta Correta:</strong> A proporção de companhias cadastradas que
  operaram voos registrados na tabela voos.
</p>

<hr />

<p>
  <strong>19.</strong> Considere as seguintes tabelas:
  <code>CREATE TABLE bares (nome text, preco float);</code>,
  <code>CREATE TABLE restaurantes (nome text, preco float);</code>,
  <code>CREATE TABLE cafes (nome text, preco float);</code>. Assinale a
  alternativa que forneça um significado plausível para o seguinte comando:
</p>
<pre class="code">
SELECT nome, preco FROM (
  SELECT nome, preco FROM bares WHERE preco = (SELECT min(preco) FROM bares)
  UNION
  SELECT nome, preco FROM restaurantes WHERE preco = (SELECT min(preco) FROM restaurantes)
  UNION
  SELECT nome, preco FROM cafes WHERE preco = (SELECT min(preco) FROM cafes)
) as lazer WHERE preco < 100;
</pre>
<p>
  <strong>Resposta Correta:</strong> Um rapaz está procurando um lugar para
  marcar um encontro. Ele está em dúvida entre um restaurante, um bar ou um
  café. Como o rapaz está com pouco dinheiro, ele vai considerar somente as
  opções mais baratas de cada categoria, e desde que o preço da diversão não
  saia mais que 100 reais.
</p>

<hr />

<p>
  <strong>20.</strong> Considere a seguinte modelagem feita para o banco de
  dados de um sistema de estacionamento:
</p>

<img
  src="../../imagens/quizzes/bdd/pergunta20bdd.png"
  alt="Modelagem ER de estacionamento com tabelas estadia e veículo"
  class="imagens"
/>

<p>
  Assinale a alternativa que indica em que forma normal se encontra essa
  modelagem.
</p>
<p><strong>Resposta Correta:</strong> 2FN.</p>

<hr />

<p>
  <strong>21.</strong> Considere ainda a existência de uma tabela
  <code>acidentes_aereos</code>, em que cada registro representa um acidente
  aéreo e que possui as colunas <code>quantidade_passageiros</code> e
  <code>quantidade_vitimas_fatais</code>. Assinale a alternativa que
  corretamente consulta a porcentagem de vítimas fatais (em relação ao total de
  passageiros) de cada acidente na tabela <code>acidentes_aereos</code>.
</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
SELECT quantidade_vitimas_fatais / quantidade_passageiros * 100 as porcentagem_sobreviventes FROM acidentes_aereos;
</pre>

<hr />

<p>
  <strong>22.</strong> Considere o seguinte texto, que faz parte de uma
  descrição comercial na home page de uma suíte de produtos: "Pentaho Business
  Analytics: Empodere consumidores de dados com análises interativas,
  visualizações em tempo real e modelagens preditivas, com mínimo suporte de
  TI."
</p>
<p>Assinale a alternativa que melhor esclarece o texto acima.</p>
<p>
  <strong>Resposta Correta:</strong> Os "consumidores de dados" são pessoas
  (analistas, gerentes, etc.) que querem explorar diretamente os dados sem a
  necessidade de depender de pessoas especialistas em TI ("com mínimo suporte de
  TI").
</p>

<hr />

<p><strong>23.</strong> Considere a seguinte sequência de comandos:</p>
<pre class="code">
> SELECT id, saldo FROM conta_corrente WHERE id in (1324, 7634);
(Saída: 1324 - 5000.0 | 7634 - 40000.0)
> BEGIN;
> UPDATE conta_corrente SET saldo = saldo - 100 WHERE id = 1324;
> UPDATE conta_corrente SET saldo = saldo + 200 WEHRE id = 7634;  (Erro de sintaxe proposital no WHERE)
> COMMIT;
> SELECT id, saldo FROM conta_corrente WHERE id in (1324, 7634);
</pre>
<p>Qual é a saída produzida pelo último comando?</p>
<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
id      saldo
1324    5000.0
7634    40000.0
</pre>

<hr />

<p>
  <strong>24.</strong> Considere as seguintes consultas realizadas sobre as
  tabelas <code>paciente</code>, <code>medico</code> e <code>consulta</code>:
  <br />I) SELECT ... FROM paciente p, consulta c, medico m WHERE ... <br />II)
  SELECT ... FROM paciente p JOIN consulta c ... JOIN medico m ... <br />III)
  SELECT ... FROM paciente p JOIN consulta c JOIN medico m ON ... <br />IV)
  SELECT ... FROM paciente p INNER JOIN consulta c INNER JOIN medico m ...
  <br />Assinale a opção que identifica corretamente os resultados obtidos para
  essas consultas.
</p>
<p>
  <strong>Resposta Correta:</strong> As consultas I, II, III e IV terão o mesmo
  resultado, independentemente do conteúdo das tabelas.
</p>

<hr />

<p>
  <strong>25.</strong> O diagrama a seguir representa uma modelagem ER para
  bandas de rock.
</p>

<img
  src="../../imagens/quizzes/bdd/pergunta25bdd.png"
  alt="Diagrama ER Bandas de Rock"
  class="imagens"
/>

<p>
  Considere as seguintes afirmações:
  <br />I - Uma banda de rock pode ter vários guitarristas. <br />II - Uma banda
  de rock deve possuir exatamente quatro músicos. <br />III - Uma banda de rock
  não pode possuir mais que um baterista. <br />IV - Uma banda de rock é
  obrigada a ter um baixista. <br />V - Uma banda de rock não pode possuir um
  flautista. <br />VI - Um músico pode pertencer a várias bandas.
</p>
<p>
  Para um banco de dados que utilize a modelagem apresentada no diagrama,
  assinale a alternativa que apresente todas as afirmações verdadeiras.
</p>
<p><strong>Resposta Correta:</strong> I, III, IV e V.</p>

<hr />

<p>
  <strong>26.</strong> O trecho do manual do MySQL (6.1.2.1) alerta que usar a
  senha na linha de comando (`mysql -u user -psenha`) é inseguro. Indique qual
  seria uma alternativa segura ao método discutido.
</p>
<p>
  <strong>Resposta Correta:</strong> Logar com a opção -p sem passar o parâmetro
  (senha) no comando, o que fará com que a senha seja lida a partir de um prompt
  seguro do terminal.
</p>

<hr />

<p>
  <strong>27.</strong> Considere a seguinte tabela de pratos disponíveis em um
  restaurante:
  <code
    >CREATE TABLE pratos (nome text, pais_origem text, vegetariano boolean,
    preco float);</code
  >
</p>
<p>
  Considerando essa tabela, assinale a alternativa com o comando que torna
  possível a execução da seguinte consulta:
</p>
<pre class="code">
SELECT pais_origem as pais, count(*) as qtd_pratos_vegetarianos FROM pratos_vegetarianos GROUP BY pais_origem;

+--------+-------------------------+
| pais | qtd_pratos_vegetarianos |
+--------+-------------------------+
| Índia | 10 |
| Itália | 7 |
| Brasil | 4 |
+--------+-------------------------+
</pre>

<p>
  <strong>Resposta Correta:</strong>
</p>
<pre class="code">
CREATE VIEW pratos_vegetarianos AS SELECT nome, pais_origem FROM pratos WHERE vegetariano;
</pre>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
