---
---

{% include head-quiz-prova.html page-title="Prova - CdC2" %} {% include
heading-quiz-prova.html heading="Questões da Prova de Conceitos da Computação
II" %}

<p>
  <strong>1.</strong> Referente a ilustração a seguir a mesma diz a respeito ao
  funcionamento de um:
</p>
<img
  src="../../../imagens/quizzes/cdc2/prova_pergunta1.png"
  alt="Ilustração de uma soma binária com carry-overs."
  class="imagens"
/>
<ol type="a">
  <li>latch</li>
  <li>registrador</li>
  <li>operador de bitwise</li>
  <li>memória</li>
  <li>somador</li>
</ol>

<hr />

<p>
  <strong>2.</strong> A tabela-verdade com entradas A e B apresentada a seguir
  dizem respeito, na suas saídas, às portas (escolha a alternativa CORRETA):
</p>
<img
  src="../../../imagens/quizzes/cdc2/prova_pergunta2.png"
  alt="Tabela verdade com saídas para AB e AB barrado."
  class="imagens"
/>
<ol type="a">
  <li>OR e AND</li>
  <li>NOT e XOR</li>
  <li>AND e NAND</li>
  <li>OR e NOR</li>
  <li>NOR e NAND</li>
</ol>

<hr />

<p>
  <strong>2.1</strong> A porta lógica ilustrada a seguir diz respeito a
  (assinale a alternativa correta)
</p>
<img
  src="../../../imagens/quizzes/cdc2/prova_pergunta2.1.png"
  alt="Porta lógica XNOR"
  class="imagens"
/>
<ol type="a">
  <li>XNOR</li>
  <li>OR</li>
  <li>NOT</li>
  <li>XOR</li>
  <li>AND</li>
</ol>

<hr />

<p>
  <strong>3.</strong> Assinale a alternativa que corresponde a uma classe
  especial de circuitos digitais sequenciais cujos estados variam em função do
  acionamento de um sinal de clock, em uma sequência que se repete
  continuamente.
</p>
<ol type="a">
  <li>somador</li>
  <li>subtrador</li>
  <li>contador</li>
  <li>registrador</li>
  <li>processador</li>
</ol>

<hr />

<p>
  <strong>3.1</strong> Escolha a alternativa que se refere a um circuitos de
  armazenam e que permitem a manipulação de informações no domínio digital, além
  de serem a base de qualquer sistema digital sequencial./p>
</p>

<ol type="a">
  <li>somador</li>
  <li>amplificador</li>
  <li>subtrador</li>
  <li>registrador</li>
  <li>chave</li>
</ol>

<hr />

<p>
  <strong>4.</strong> A alternativa que corresponde ao circuito lógico
  apresentado abaixo é um(a):
</p>
<img
  src="../../../imagens/quizzes/cdc2/prova_pergunta4.png"
  alt="Circuito de um flip-flop."
  class="imagens"
/>
<ol type="a">
  <li>somador</li>
  <li>clock</li>
  <li>flip-flop</li>
  <li>subtrador</li>
  <li>contador</li>
</ol>

<hr />

<p>
  <strong>5.</strong> Escolha a alternativa que corresponde a nome da ilustração
  abaixo:
</p>
<img
  src="../../../imagens/quizzes/cdc2/prova_pergunta5.png"
  alt="Diagrama de blocos de uma ULA."
  class="imagens"
/>
<ol type="a">
  <li>thread</li>
  <li>Unidade Lógica Aritmética (ULA)</li>
  <li>teorema de De Morgan</li>
  <li>porta AND</li>
  <li>processo</li>
</ol>

<hr />

<p>
  <strong>6.</strong> Em relação a conversão de base numérica, o número binário
  <code>1010 1111 1000</code>, convertido para o base hexadecimal, é
  representado pela alternativa:
</p>
<ol type="a">
  <li>AF8</li>
  <li>FFF</li>
  <li>EF8</li>
  <li>AF0</li>
  <li>FF0</li>
</ol>

<hr />

<p>
  <strong>6.1.</strong> Em relação a conversão de base numérica, o número
  hexadecimal "FFF1" convertido para a base binária, é representado pela
  alternativa:
</p>
<ol type="a">
  <li><code>1111 1111 1111 0001</code></li>
  <li><code>1111 1101 1110 0001</code></li>
  <li><code>1111 1111 1111 1001</code></li>
  <li><code>1111 1101 1111 0001</code></li>
  <li><code>1111 1111 1111 1111</code></li>
</ol>

<hr />

<p>
  <strong>7.</strong> Em relação à ULA (Unidade Lógica Aritmética) descreva sua
  importância em um sistema digital na sua composição essencial com o
  processador.
</p>
<p>
  <strong>Resposta Correta:</strong> A ULA é o "cérebro matemático" do
  processador, responsável por executar todas as operações lógicas (como AND,
  OR, NOT) e aritméticas (como soma e subtração).
</p>

<hr />

<p>
  <strong>7.1</strong> Descreva sucintamente sobre quais circuitos lógicos que
  originam os armazenamento de dados no computador.
</p>
<p>
  <strong>Resposta Correta:</strong> O armazenamento de dados se origina de
  Flip-Flops: circuitos lógicos que usam um sinal de clock para guardar um bit
  (0 ou 1) de forma sincronizada. Agrupados, eles formam a base de memórias
  essenciais, como registradores e cache.
</p>

<hr />

<p><strong>Abaixo encontra-se as respostas das questões anteriores:</strong></p>
<ul>
  <li>1. &nbsp;&nbsp;e</li>
  <li>2. &nbsp;&nbsp;c</li>
  <li>2.1 a</li>
  <li>3. &nbsp;&nbsp;c</li>
  <li>3.1 d</li>
  <li>4. &nbsp;&nbsp;c</li>
  <li>5. &nbsp;&nbsp;b</li>
  <li>6. &nbsp;&nbsp;a</li>
  <li>6.1 a</li>
</ul>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
