---
---

{% include head-quiz-prova.html page-title="Quiz - ECS" %} {% include
heading-quiz-prova.html heading="Quiz de Ética, Cidadania e Sustentabilidade" %}

<p>
  <strong>1.</strong> "Na década de 1990, o Terceiro Setor surge como o portador
  de uma nova e grande promessa: a renovação do espaço público, o resgate da
  solidariedade e da cidadania, a humanização do capitalismo e, na medida do
  possível, a superação da pobreza. Uma promessa realizada através de atos
  simples e fórmulas antigas, como o voluntariado e filantropia, revestidas de
  uma roupagem mais empresarial. Promete-nos, implicitamente, um mundo onde são
  deixados para trás os antagonismos e conflitos entre classe e, se quisermos
  acreditar, promete-nos muito mais" (FALCONER, Andrés Pablo (1999). A promessa
  do Terceiro Setor: um estudo sobre a construção do papel das organizações sem
  fins lucrativos e de seu campo de gestão. Dissertação de Mestrado, p. 9. São
  Paulo: Faculdade de Economia, Administração e Contabilidade da USP-SP, 1999).
</p>
<p>
  A respeito da participação do chamado terceiro setor nas práticas em torno do
  desenvolvimento sustentável, assinale a alternativa correta abaixo:
</p>
<p>
  <strong>Resposta Correta:</strong> Para os críticos do terceiro setor,
  trata-se da terceirização ou privatização de prerrogativas fundamentais da
  ação do Estado, que deveria, por meio dos impostos pagos por cidadãos, zelar
  pela redução de desigualdades sociais e proteção do meio ambiente.
</p>

<hr />

<p>
  <strong>2.</strong> "Ideias liberais e método democrático vieram gradualmente
  se combinando num modo tal que, se é verdade que os direitos de liberdade
  foram desde o início a condição necessária para a direta aplicação das regras
  do jogo democrático, é igualmente verdadeiro que, em seguida, o
  desenvolvimento da democracia se tornou o principal instrumento para a defesa
  dos direitos de liberdade" (Bobbio, N. Liberalismo e democracia (p. 44). São
  Paulo: Brasiliense, 1993).
</p>
<p>
  A democracia ateniense da Antiguidade e as construções democráticas modernas
  possuem diferenças importantes. A esse respeito, indique a alternativa
  correta.
</p>
<p>
  <strong>Resposta Correta:</strong> A democracia ateniense é um regime
  democrático direto, enquanto as democracias modernas são estabelecidas por
  meio do regime indireto.
</p>

<hr />

<p>
  <strong>3.</strong> "São, pois, os ditos índios aqueles que, vivendo livres e
  senhores naturais das suas terras, foram arrancados delas por uma violência e
  tirania e trazidos em ferros com a crueldade que o mundo sabe, morrendo
  natural e violentamente muitos nos caminhos de muitas léguas até chegarem às
  terras de São Paulo, onde os moradores delas ou os vendiam, ou se serviam e se
  servem deles como escravos" (VIEIRA, A. [Pe.] Escritos instrumentais sobre os
  índios, p. 102. São Paulo: Educ; Loyola; Giordano, 1992.).
</p>
<p>
  A respeito das populações indígenas do Brasil e do processo de colonização,
  identifique a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> Os bandeirantes foram responsáveis por
  escravizar sociedade indígenas no período colonial, sendo eles utilizados na
  agricultura e mineração.
</p>

<hr />

<p>
  <strong>4.</strong> "O Mecanismo de Desenvolvimento Limpo (MDL), em especial,
  oportunizou uma lógica de negócio, sobretudo porque constituiu-se em uma
  ferramenta de mercado [...], permitindo que questões econômicas e ambientais
  sejam pensadas juntas na busca da sustentabilidade das empresas. A redução da
  emissão de GEE a partir de projetos dessa natureza vem gerando uma nova
  'moeda' no cenário econômico mundial, chamada de Créditos de Carbono ou
  Reduções Certificadas de Emissão (RCEs), que são negociados internacionalmente
  em um mercado próprio, denominado Mercado Internacional de Comercialização de
  Créditos de Carbono [...]" (SOUZA, A. L. R.; ALVAREZ, G.; ANDRADE, J. C. S.
  Mercado regulado de carbono no Brasil: um ensaio sobre divergências contábil e
  tributária dos créditos de carbono. Organizações & Sociedade, v. 20, n. 67, p.
  675-697, 2013, p. 677).
</p>
<p>Considere as afirmações abaixo sobre os créditos de carbono:</p>
<ol type="I">
  <li>
    Com os créditos de carbono se defende a ideia de que os países em
    desenvolvimento podem financiar políticas de preservação do meio ambiente
    dos países já desenvolvidos ou mais ricos por meio do repasse de recurso
    financeiros ou bônus a estes.
  </li>
  <li>
    Os créditos de carbono promovem a ideia de que os países já desenvolvidos
    podem financiar políticas de preservação do meio ambiente dos países em
    desenvolvimento ou mais pobres por meio do repasse de recursos financeiros
    ou bônus a estes.
  </li>
  <li>
    Os créditos de carbono foram uma criação da ECO-92 e instituídos na Agenda
    21. Com o Protocolo de Kyoto, em 1997, a prática foi abolida pela quantidade
    elevada de emissão de gases nocivos ao meio ambiente.
  </li>
</ol>
<p>Assinale a alternativa correta:</p>
<p><strong>Resposta Correta:</strong> Apenas a afirmativa II é correta.</p>

<hr />

<p>
  <strong>5.</strong> A sigla do movimento LGBTQIA+ expressa a diversidade de
  gêneros presentes na sociedade. O movimento ganha força na segunda metade do
  século XX nos Estados Unidos, por meio de manifestações e organizações da
  sociedade civil que passaram a reivindicar a aquisição de direitos civis,
  políticos e econômicos.
</p>
<p>A respeito da sigla, considere os itens abaixo:</p>
<ol type="I">
  <li>
    Entre as principais pautas do movimento LGBTQIA+ estão a luta pela
    criminalização da homofobia e transfobia, a conquista por melhores condições
    de trabalho e legislação que garanta a cidadania.
  </li>
  <li>
    Assim como os gêneros masculino e feminino, considera-se a sigla LGBTQIA+
    como resultado da variabilidade ou diversidade de tipos de gênero
    estabelecidos pela biologia.
  </li>
  <li>
    Considera-se que há muitas conquistas a serem estabelecidas pelo movimento
    LGBTQIA+. Há ainda a existência de preconceitos de gênero em vários lugares
    do mundo. No Brasil, por exemplo, há violências deliberadas contra estes
    segmentos.
  </li>
  <li>
    O movimento LGBTQIA+ foi bem-sucedido apenas nos Estados Unidos, Europa e
    Brasil, levando ao fim de todos os preconceitos e desigualdades de gênero.
    Trata-se de uma vitória consolidada durante o século XX.
  </li>
</ol>
<p>Assinale a alternativa correta:</p>
<p><strong>Resposta Correta:</strong> I e III são informações corretas.</p>

<hr />

<p>
  <strong>6.</strong> "O jornal Folha de S.Paulo destacou-se no apoio à
  campanha. Todas as manifestações públicas pela aprovação das 'Diretas Já' eram
  divulgadas através da coluna 'Roteiro das Diretas', que trazia diariamente um
  resumo das principais atividades. A TV Globo, que tinha mostrado reticências
  no apoio ao movimento, ao final reconheceu a importância que a campanha havia
  assumido e a vontade da população que se manifestava a favor da mudança. No
  comício realizado na Candelária, no Rio de Janeiro, a TV Globo acompanhou e
  cobriu todo o evento" (ABREU, Alzira Alves de. A mídia na transição
  democrática brasileira. In: Sociologia, Problemas e Práticas, n 48, p. 60,
  2005).
</p>
<p>
  A respeito do processo de redemocratização do Brasil na década de 1980 e
  considerando a superação da ditadura militar instituída em 1964, assinale a
  alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> Permitiu a aliança entre diversos setores
  nacionais progressistas com o objetivo de superar a limitação de direitos
  individuais promovida pela ditadura.
</p>

<hr />

<p>
  <strong>7.</strong> "O vício enorme e radical na construção da Confederação
  atual está no princípio da legislação para Estados ou governos em seu caráter
  de corporações ou coletividades, em contraposição à legislação para os
  indivíduos que os compõem. Embora não se estenda a todos os poderes conferidos
  à União, esse princípio invade e governa aqueles de que depende a eficácia dos
  demais. Exceto no tocante à honra de rateio, os Estados Unidos têm direito
  ilimitado a requisitar homens e dinheiro; mas não têm autoridade para
  mobilizá-los por meio de normas que se estendam aos cidadãos da América. A
  consequência é que, embora em teoria as resoluções da União referentes a essas
  questões sejam leis que se aplicam constitucionalmente aos seus membros, na
  prática elas são meras recomendações que os Estados podem escolher observar ou
  desconsiderar" (MADISON, James; HAMILTON, Alexander; JAY, John. Os artigos
  federalistas, 1787-1788, pp. 160-161. Rio de Janeiro: Nova Fronteira, 1993).
</p>
<p>
  O pensamento federalista norte-americano constitui no século XVIII um
  importante marco para a consolidação da democracia. Leia abaixo as afirmações
  abaixo e assinale a alternativa correta:
</p>
<ol type="I">
  <li>
    Os princípios fundamentais do federalismo consistem na ampliação da
    participação política, divisão dos poderes e eleição dos ocupantes dos
    cargos legislativo e executivo.
  </li>
  <li>
    Montesquieu concebe a divisão dos poderes e, assim como Locke, concebeu
    instituições que fossem capazes de limitar a ação do Estado contra as
    liberdades individuais.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> As asserções I e II são proposições
  verdadeiras, e a I é consequência da II.
</p>

<hr />

<p>
  <strong>8.</strong> A leitura que Robert Henry Srour realiza das concepções
  éticas de Weber revela que: "Toda atividade orientada pela ética pode
  subordinar-se a duas máximas totalmente diferentes e irredutivelmente opostas.
  Ela pode orientar-se pela ética da responsabilidade ou pela ética da
  convicção. Isso não quer dizer que a ética da convicção seja idêntica à
  ausência de responsabilidade e a ética da responsabilidade à ausência de
  convicção. Não se trata evidentemente disso. Todavia, há uma oposição abissal
  entre a atitude de quem age segundo as máximas da ética da convicção - em
  linguagem religiosa, diremos: 'O cristão faz seu dever e no que diz respeito
  ao resultado da ação remete-se a Deus' - e a atitude de quem age segundo a
  ética da responsabilidade, que diz: Devemos responder pelas consequências
  previsíveis de nossos atos" (SROUR, Robert Henry. Ética empresarial p. 50. Rio
  de Janeiro: Campus, 2000).
</p>
<p>
  Muitas ações humanas oscilam entre as éticas da convicção e da
  responsabilidade, como é o caso das indicações do texto acima. De acordo com o
  texto, é possível considerar a ética da convicção e a ética da
  responsabilidade respectivamente:
</p>
<p><strong>Resposta Correta:</strong> Deontologia e teleologia.</p>

<hr />

<p>
  <strong>9.</strong> A noção de estado de natureza está vinculada à noção de
  direito na teoria contratualista. Estado de natureza era a condição em que os
  seres humanos se achavam antes da formação da sociedade. Na filosofia política
  concebe-se que alguns desses direitos devem ser mantidos no estado civil. Tais
  concepções foram lapidares para a constituição dos chamados direitos humanos.
  A respeito dos direitos naturais, há três grandes tendências:
</p>
<ol>
  <li>
    Os seres humanos são naturalmente egoístas no estado de natureza,
    encontram-se na condição de guerra de todos contra todos. Devido ao medo de
    uns dos outros, aceitam renunciar à liberdade e constituir um Soberano, o
    estado, que garanta a paz.
  </li>
  <li>
    Os direitos à propriedade, igualdade e liberdade devem ser mantidos no
    estado civil a fim de garantir a existência dos direitos individuais.
  </li>
  <li>
    No estado de natureza os seres humanos viviam felizes. O homem nasceu bom,
    mas a propriedade privada o corrompeu, conduzindo a humanidade às
    desigualdades sociais.
  </li>
</ol>
<p>Pode-se atribuir essas três concepções, respectivamente, a:</p>
<p><strong>Resposta Correta:</strong> Hobbes, Locke e Rousseau.</p>

<hr />

<p>
  <strong>10.</strong> Os direitos fundamentais que originam os direitos humanos
  passaram por processos de evolução ao longo da história. Dividem-se os
  períodos por gerações ou dimensões, que conduziram até hoje a diferentes
  conquistas. De acordo com essa perspectiva, é possível considerar que os
  direitos humanos estabelecem regulações "[...] cuja garantia é necessária a
  satisfazer o valor das pessoas e a realizar-lhes a igualdade. Diferentemente
  dos direitos patrimoniais - do direito de propriedade aos direitos de crédito
  -, os direitos fundamentais não são negociáveis e dizem respeito a 'todos' em
  igual medida, como condições da identidade de cada um como pessoa e/ou como
  cidadão" (Ferrajoli, Los fundamentos de los derechos fundamentales, p. 727.
  Madrid: Trotta, 2009).
</p>
<p>
  A respeito das características das gerações dos direitos humanos, assinale a
  alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> Os princípios da solidariedade ou
  fraternidade são características dos direitos de terceira geração.
  Correspondem às conquistas a partir do final do século XX em termos de
  proteção ambiental, defesa da cultura de povos tradicionais e difusão dos
  direitos humanos a partir das perspectivas heterogêneas presentes nas
  diferentes sociedades.
</p>

<hr />

<p>
  <strong>11.</strong> "A primeira corresponde à luta pelo reconhecimento legal
  da igualdade de direitos - voto, trabalho, etc. - nos séculos XVIII e XIX e
  início do século XX. A segunda onda corresponde às lutas desenvolvidas pelas
  feministas entre 1960 e 1980, quando a preocupação com a igualdade se estendeu
  das leis aos costumes, focalizando temas como sexualidade, violência, mercado
  de trabalho, etc. A categoria gênero (tratada abaixo) surge nesse período. A
  terceira onda começou em 1990, quando as estratégias foram repensadas e ganhou
  ênfase a crítica à construção da imagem feminina pelos meios de comunicação de
  massa" (KNIBIEHLER, Y. Mulher sem objeto. Quem cuida das crianças? Folha de
  S.Paulo, Caderno "Mais!", 4 mar. 2007. p. 10).
</p>
<p>
  A respeito das três primeiras ondas do feminismo, leia as afirmações abaixo e
  indique a resposta correta.
</p>
<p>
  <strong>Resposta Correta:</strong> A primeira onda afirma o sufrágio
  universal; a segunda onda expressa a luta pela autonomia da mulher sobre o
  corpo e sexualidade, além da luta contra o domínio masculino; a terceira onda
  diz respeito às especificidades das diversas lutas feministas contra a
  opressão masculina.
</p>

<hr />

<p>
  <strong>12.</strong> "Ao afirmar que 'o pessoal é político', o feminismo traz
  para o espaço da discussão política as questões até então vistas e tratadas
  como específicas do privado, quebrando a dicotomia público-privado base de
  todo o pensamento liberal sobre as especificidades da política e do poder
  político. O movimento ressignificou o poder político e a forma de entender a
  política ao colocar novos espaços no privado e no doméstico. [...]" (COSTA, A.
  A. O movimento feminista no Brasil: dinâmica de uma intervenção política. In:
  PEREIRA, H. (org.). Olhares feministas, p. 57. Brasília: Ministério da
  Educação, Unesco, 2007).
</p>
<p>Considere as informações abaixo:</p>
<ol type="I">
  <li>
    A concepção de gênero é uma determinação natural ou biológica, havendo,
    portanto, apenas o gênero masculino e o feminino.
  </li>
  <li>
    Enquanto o gênero é uma construção histórica e social, o sexo tem origem na
    natureza ou biologia.
  </li>
  <li>
    O sexo é um conceito cultural, portanto representação de uma construção
    histórica. O gênero é natural, ou seja, tem sua origem na biologia.
  </li>
  <li>
    A partir das diferenças entre os gêneros masculino e feminino criam-se
    desigualdades combatidas pelo movimento feminista.
  </li>
</ol>
<p>Assinale a alternativa correta:</p>
<p><strong>Resposta Correta:</strong> II e IV são informações corretas.</p>

<hr />

<p>
  <strong>13.</strong> "[...] acredito que a 'política racial' [do Brasil] não
  precisa seguir os rumos do mundo anglo-saxão. Os Estados Unidos vivem 'surtos'
  de universalismo dentro do seu particularismo histórico, como, por exemplo, no
  movimento dos direitos civis na década de 1960 [...] O Brasil vive 'surtos' de
  particularismo dentro de seu universalismo constitucional e consentido:
  afinal, como reza o dito popular, 'na prática a teoria é outra'. Mas nem por
  isso precisamos descartar a 'democracia racial' como ideologia falsa. Como
  mito, no sentido em que os antropólogos empregam o termo, é um conjunto de
  ideias e valores poderosos que fazem com que o Brasil seja o 'Brasil' [...]"
  (FRY, Peter. O que a Cinderela Negra tem a dizer sobre a "política racial" no
  Brasil. Revista da USP, São Paulo, n. 28, p. 134, 1995/1996).
</p>
<p>Leia as asserções abaixo:</p>
<ol type="I">
  <li>
    Florestan Fernandes critica o pensamento de Gilberto Freyre sobre a formação
    do Brasil por apresentar o mito da democracia. Trata-se da ideia de que há
    uma ideologia entre os brancos que estabeleceu a falsa ideia de que a
    escravidão no período colonial foi pacífica, promovendo a integração da
    população negra na sociedade.
  </li>
  <li>
    Gilberto Freyre é um crítico do racismo, por isso considera que as relações
    sociais no Brasil são marcadas por ampla violência, desigualdades e exclusão
    da população negra, sobretudo as mulheres.
  </li>
</ol>
<p>Indique abaixo a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> A asserção I é uma proposição verdadeira, e
  a II é uma proposição falsa.
</p>

<hr />

<p>
  <strong>14.</strong> "Impulsionados pelas discussões e pelos resultados dessa
  conferência, e seguindo a Agenda 21 Global, governo e sociedade deram início a
  um conjunto de ações de construção de Agendas 21, nos âmbitos nacional,
  regional e local. Pesquisa realizada pelo ICLEI, em 2002, revelou que 6.400
  governos locais, em 113 países, estiveram envolvidos em atividades
  relacionadas à Agenda 21 Local nos 10 anos anteriores" (MALHEIROS, T. F.;
  PHILIPPI JR., A.; COUTINHO, S. M. V. Agenda 21 nacional e indicadores de
  desenvolvimento sustentável: contexto brasileiro. In: Saúde e Sociedade, São
  Paulo, v. 17, p. 7-20, 2008, p. 8).
</p>
<p>Leia as asserções abaixo:</p>
<ol type="I">
  <li>
    A Agenda 21 foi criada com o objetivo de estabelecer práticas e políticas
    voltadas ao desenvolvimento sustentável. Nações de todo o mundo se
    comprometeram a rever o modelo industrial, a fim de produzir proteção
    ambiental, desenvolvimento social e econômico.
  </li>
  <li>
    Realizada em 1992 no Rio de Janeiro, A ECO-92 é considerada um importante
    marco para a consolidação global do desenvolvimento sustentável.
  </li>
</ol>
<p>A respeito das afirmações acima, é possível dizer:</p>
<p>
  <strong>Resposta Correta:</strong> As asserções I e II são proposições
  verdadeiras, e I é consequência da II.
</p>

<hr />

<p>
  <strong>15.</strong> "Para que os direitos humanos adquiram uma
  responsabilidade social ampla, hão de ser compreendidos como direitos das
  vítimas. Perante o sofrimento das vítimas, todos somos responsáveis por
  implementar os direitos que lhes restaurem a dignidade negada. Os direitos
  humanos não são o direito de apropriação individual, mas os direitos da
  responsabilidade para com o outro vítima da injustiça" (RUIZ, Castor M. M.
  Bartolomé. Os direitos humanos como direitos do outro. In: NOVAES, Adauto.
  Civilização e barbárie, p. 225. São Paulo: Companhia das Letras, 2004).
</p>
<p>
  Considerando o processo de desenvolvimento histórico dos direitos humanos,
  assinale a alternativa que melhor exponha a ordem cronológica da conquista de
  direitos:
</p>
<p>
  <strong>Resposta Correta:</strong> Direitos políticos, direitos econômicos e
  direitos sociais.
</p>

<hr />

<p>
  <strong>16.</strong> A Reforma Protestante e a construção do pensamento
  econômico liberal de Adam Smith foram determinantes no processo de construção
  de uma ética voltada ao trabalho no mundo moderno. Weber, na obra escrita no
  início do século XX e intitulada A ética protestante e o espírito do
  capitalismo, demonstra o surgimento do que designou de ética de trabalho. Adam
  Smith, no livro A riqueza das nações, afirmava no século XVIII as bases de uma
  nova ética econômica burguesa.
</p>
<p>
  No que diz respeito à ética no capitalismo, avalie as afirmações seguintes:
</p>
<ol type="I">
  <li>
    Weber afirma que a ética do trabalho representa a valorização da ética
    burguesa, que afirma princípios contrários ao comércio e ao trabalho
    racional.
  </li>
  <li>
    Segundo Adam Smith, deve-se afirmar a competitividade, a livre iniciativa e
    a livre concorrência, pois quanto mais um indivíduo trabalhar em nome de
    seus interesses privados, indiretamente, como uma mão invisível, contribuirá
    para o progresso coletivo.
  </li>
  <li>
    Adam Smith afirma a importância da mão invisível, entendida como sistema de
    solidariedade, altruísmo consciente e dinâmico, que aperfeiçoa
    necessariamente apenas um pequeno número de indivíduos.
  </li>
  <li>
    De acordo com Weber, a ética do trabalho refere-se à vida religiosa
    protestante, que se caracteriza pela racionalidade, método e rigor em
    relação ao trabalho.
  </li>
</ol>
<p>É correto o que se afirma em:</p>
<p><strong>Resposta Correta:</strong> II e IV apenas.</p>

<hr />

<p>
  <strong>17.</strong> "Cidadania é o status daqueles que são membros de uma
  comunidade e são por ela reconhecidos. É, também, o conjunto de direitos e
  deveres que um indivíduo tem diante da sociedade da qual faz parte.
  Historicamente e genericamente, a cidadania tem uma referência espacial,
  constituída da relação dos indivíduos com um dado território (organização
  sociopolítica do espaço)" (COSTA, M. I. S.; IANNI, A. M. Z. O conceito de
  cidadania. In: Individualização, cidadania e inclusão na sociedade
  contemporânea: uma análise teórica, p. 47. São Bernardo do Campo: Editora
  UFABC, 2018).
</p>
<p>A respeito da concepção de cidadania, indique a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> O conceito de cidadania é uma construção
  que está em permanente transformação, variando conforme o período histórico e
  demandas sociais específicas a cada sociedade.
</p>

<hr />

<p><strong>18.</strong> Leia as asserções abaixo:</p>
<ol type="I">
  <li>
    Deve-se considerar que os direitos humanos não se apresentam como direitos
    absolutos ou fixos. Eles têm conteúdo variável no tempo e no espaço, ou
    seja, variam conforme demandas sociais e políticas dadas em cada período
    histórico.
  </li>
  <li>
    A verdadeira consolidação do Direito Internacional dos Direitos Humanos
    surge em meados do século XX, em decorrência da Revolução Tecnológica e
    Cibernética, por isso o moderno Direito Internacional dos Direitos Humanos é
    um fenômeno que surgiu na passagem dos séculos XX e XXI.
  </li>
</ol>
<p>Assinale a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> A asserção I é uma proposição verdadeira, e
  a II é uma proposição falsa.
</p>

<hr />

<p>
  <strong>19.</strong> A respeito das inovações democráticas trazidas pelas
  Constituição Federal do Brasil de 1988, leia as afirmações abaixo e em seguida
  assinale a alternativa correta:
</p>
<ol type="I">
  <li>
    Tornou o voto universal e obrigatório para todos os brasileiros acima de 18
    anos, inclusive tornando facultativo o voto de analfabetos.
  </li>
  <li>
    Tornou o voto censitário à medida que permitiu a participação de mulheres,
    analfabetos acima de 18 anos e militares.
  </li>
  <li>
    Tornou a participação política direta, permitindo a participação de
    movimentos sociais por meio da eleição de representantes.
  </li>
  <li>
    Permitiu a introdução de novas demandas sociais, como movimentos sociais e
    ambientalistas.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> I e IV são afirmações corretas.</p>

<hr />

<p>
  <strong>20.</strong> "Com a Revolução de 1930, inaugura-se uma nova ordem na
  política brasileira que permaneceria até a década de 1980, a saber: a ordem ou
  a cidadania regulada [...]" (MOREIRA, Marcelo S.; SANTOS, Ronaldo T. dos.
  Cidadania regulada e Era Vargas Estudos Históricos [Recurso Eletrônico]. Rio
  de Janeiro, v. 33, n. 71, p. 545, set./dez. 2020).
</p>
<p>
  Sobre o conceito de cidadania regulada desenvolvido por Wanderley Guilherme
  dos Santos na obra Cidadania e justiça: a política social na ordem brasileira
  (1979), indique a resposta correta:
</p>
<p>
  <strong>Resposta Correta:</strong> A cidadania regulada permite identificar a
  construção de direitos de modo vertical pelo Estado em direção à sociedade,
  relacionando a cidadania com leis que regulamentam profissões.
</p>

<hr />

<p>
  <strong>21.</strong> "Há alguns anos, em relato sobre o julgamento de Eichmann
  em Jerusalém, mencionei a banalidade do mal. Não quis, com a expressão,
  referir-me a teoria ou doutrina de qualquer espécie, mas antes a algo bastante
  factual, o fenômeno dos atos maus, cometidos em proporções gigantescas; atos
  cuja raiz não iremos encontrar em uma especial maldade, patologia ou convicção
  ideológica do agente; sua personalidade destacava-se unicamente por uma
  extraordinária superficialidade" (ARENDT, Hannah. A dignidade da política:
  ensaios e conferências. Trad. Antonio Abranches. Rio de Janeiro: Relume
  Dumará, 1993, p. 145).
</p>
<p>
  A respeito do conceito de banalidade do mal elaborado por Hannah Arendt,
  indique a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> Demonstra a falta de responsabilidade e
  renúncia pela capacidade de pensar sobre os limites do uso da razão e da
  obediência cega e absoluta às leis.
</p>

<hr />

<p>
  <strong>22.</strong> No que diz respeito ao modelo de desenvolvimento
  sustentável, leia o trecho abaixo: "A sustentabilidade é alcançada através da
  promoção do desenvolvimento sustentável, sendo que este último pode ser
  promovido a partir de uma ampla variedade de disciplinas, todas elas
  necessárias para atingir o objetivo final (GARCIA-SERNA et al., 2007). Para
  Hart e Milstein (2004), uma empresa sustentável é aquela que gera,
  simultaneamente, benefícios econômicos, sociais e ambientais, conhecidos como
  os três pilares da sustentabilidade, contribuindo com o desenvolvimento
  sustentável" (TELES, Camila Duarte et al. Uma proposta para avaliação da
  sustentabilidade socioambiental utilizando suporte analítico e gráfico.
  Produção [online], v. 26, n. 2, pp. 417-429, 2016).
</p>
<p>Considere as afirmações abaixo:</p>
<ol type="I">
  <li>
    Entende-se como sustentabilidade a desconformidade entre o consumo, a
    produção e o descarte nas sociedades humanas.
  </li>
  <li>
    A sustentabilidade apenas existe nas sociedades industrializadas, de forma
    que as sociedades como as indígenas ou mesmo outras na África e Ásia não
    possuem a sustentabilidade nos seus modelos produtivos.
  </li>
  <li>
    A sustentabilidade se caracteriza pelo equilíbrio entre produção, consumo e
    natureza nas sociedades humanas; um exemplo disso é o modelo de produção das
    sociedades indígenas.
  </li>
</ol>
<p>Indique abaixo a alternativa correta:</p>
<p><strong>Resposta Correta:</strong> Somente a afirmativa III é correta.</p>

<hr />

<p>
  <strong>23.</strong> "[...] a Polis encarnava uma realidade política, um
  programa social e religioso, que agrupava de maneira indissolúvel os homens,
  os deuses e o Estado em uma religião cívica. Nesse sentido, constituía uma
  entidade de natureza totalitária, na qual o pertencimento e a participação no
  corpo político eram a própria essência da cidadania. Da Polis surgiam todos os
  direitos e obrigações dos cidadãos, sua autoridade cobria todas as esferas do
  comportamento humano [...]. A Polis não só refletia uma entidade política,
  constituía ela mesma um ideal e uma aspiração, como se vê na própria descrição
  de Aristóteles: 'a Polis é o espaço de debate e de reflexão onde os homens
  podem desenvolver suas virtudes essenciais'" (GOBBI, Hugo Javier. Integração e
  liberdade: uma reflexão histórica. Revista Brasileiras Política Internacional,
  Brasília, v. 44, n. 1, 2001, p. 156, 2001).
</p>
<p>
  A respeito da concepção de cidadania existente na polis ateniense, considere
  as afirmações abaixo:
</p>
<ol type="I">
  <li>
    Em Atenas tratou-se do exercício da cidadania ativa, pois havia participação
    dos indivíduos considerados cidadãos nas decisões políticas envolvendo os
    interesses coletivos.
  </li>
  <li>
    A democracia ateniense é conceituada a partir da noção de liberdade
    positiva, pois todos os cidadãos eram dotados do direito à fala em praça
    pública para propor soluções para o destino da cidade.
  </li>
  <li>
    Ser livre na Antiguidade, ou seja, exercer a liberdade, significava
    participar e se submeter a todas as decisões coletivas, não existindo a
    concepção de liberdade individual.
  </li>
</ol>
<p>Assinale a alternativa correta abaixo:</p>
<p><strong>Resposta Correta:</strong> I, II e III estão corretas.</p>

<hr />

<p>
  <strong>24.</strong> "[...] a sustentabilidade social deve estimular
  atividades ligadas à educação, cultura, lazer, bem-estar e justiça social da
  comunidade onde a empresa está inserida. Tudo isso mantendo o cuidado com o
  meio ambiente através de ações ambientais como programas permanentes de
  reciclagem, preservação, dentre outros aspectos" (PAZ, T. S. R. et al. Análise
  de sustentabilidade com base no princípio do Triple Bottom Line (TBL) pela
  técnica de similaridade com solução ideal (TOPSIS). In: XXXVIII Encontro
  Nacional de Engenharia de Produção, 2018, Maceió, Alagoas. A Engenharia de
  Produção e suas contribuições para o desenvolvimento do Brasil, 2018, pp.
  5-6).
</p>
<p>A respeito da sustentabilidade social, indique a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> A sustentabilidade social gira em torno da
  necessidade de redução das desigualdades sociais e da inclusão social de
  segmentos marginalizados da sociedade.
</p>

<hr />

<p>
  <strong>25.</strong> "Os africanos foram trazidos do chamado continente negro
  para o Brasil em um fluxo de intensidade variável. Os cálculos sobre o número
  de pessoas transportadas como escravos variam muito. Estima-se que, entre 1550
  e 1855, entraram pelos portos brasileiros 4 milhões de escravos, na sua grande
  maioria jovens do sexo masculino" (FAUSTO, Boris. História do Brasil, p. 51.
  São Paulo: Edusp, 1995).
</p>
<p>A respeito da escravidão no Brasil, assinale a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> Havia constantes fugas de escravos dos
  engenhos em direção aos quilombos, caracterizados por constituírem comunidades
  que buscavam a liberdade e a preservação das tradições políticas, econômicas e
  sociais de seus antepassados africanos.
</p>

<hr />

<p><strong>26.</strong> Leia o trecho abaixo:</p>
<p>
  "O que é Ética? O que é Moral? No encaminhamento dessas questões, precisamos
  voltar ao sentido originário da Ética e da moralidade. Todas as morais, por
  mais diversas, nascem de um transfundo comum, que é a Ética. Ética somente
  existe no singular, pois pertence à natureza humana, presente em cada pessoa,
  enquanto a Moral está sempre no plural, porque são as distintas formas de
  expressão cultural da Ética". (BOFF, Leonardo, Ethos mundial: um consenso
  mínimo entre os humanos. Petrópolis: Vozes, 2002).
</p>

<p>A respeito da moral, indique a questão em que costa a afirmação correta.</p>
<p>
  <strong>Resposta Correta:</strong> Conjunto de valores, tradições e costumes
  diversificados vividos por grupos sociais heterogêneos e que norteiam o
  comportamento dos sujeitos.
</p>

<hr />

<p>
  <strong>27.</strong> "Em geral, o feminismo veio demonstrar que a opressão tem
  muitas faces, uma das quais é a opressão das mulheres por via da discriminação
  sexual. Ao privilegiar a opressão de classe, o marxismo secundarizou e, no
  fundo, ocultou a opressão sexual e, nessa medida, o seu projeto emancipatório
  ficou irremediavelmente truncado. [...]" (SANTOS, Boaventura de Sousa. Pela
  mão de Alice, o social e o político na pós-modernidade, p. 41. São Paulo:
  Cortez, 1996).
</p>
<p>
  Leia as asserções abaixo: <br /><br />
  I. O feminismo é um movimento social que busca por igualdade entre gêneros e a
  eliminação das disparidades em termos de direitos políticos, econômicos e
  sociais, além de lutar pelo respeito às mulheres e oposição às subjugações e
  violências historicamente impostas pelo machismo. <br /><br />
  II. A submissão feminina ao domínio patriarcal é um elemento histórico,
  portanto, presente em diferentes épocas e sociedades. Por isso, o movimento
  feminista tem como principal objetivo reverter essa opressão, de forma a
  tornar possível a dominação feminina sobre os homens como uma reparação
  histórica.
</p>
<p>Indique abaixo a alternativa correta:</p>
<p>
  <strong>Resposta Correta:</strong> A asserção I é uma proposição verdadeira, e
  a II é uma proposição falsa.
</p>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
