---
---

{% include head-quiz-prova.html page-title="Quiz - EdS" %} {% include
heading-quiz-prova.html heading="Quiz de Engenharia de Software" %}

<p>
  <strong>1.</strong> Sobre o Ciclo de Vida na Engenharia de Sistemas, leia as
  afirmativas abaixo e assinale a alternativa correta. <br />I - A etapa de
  Aquisição é o momento onde os requisitos são estabelecidos e decisões de
  compra de insumos são decididas. <br />II - A etapa de Desenvolvimento é onde
  ocorre a implementação de testes e monitoramento do sistema em produção.
  <br />III - A etapa de Operação é onde ocorre a implantação e o sistema é
  colocado em uso.
</p>
<p><strong>Resposta Correta:</strong> I e III.</p>

<hr />

<p>
  <strong>2.</strong> Assinale a alternativa correta a que se refere à seguinte
  descrição: "Adequada quando não há um conhecimento da totalidade da solução.
  Esta estratégia requer uma solução que de maneira geral cubra os requisitos,
  mas pode perder alguns detalhes..."
</p>
<p><strong>Resposta Correta:</strong> Estratégia iterativa.</p>

<hr />

<p>
  <strong>3.</strong> Assinale a alternativa correta a que se refere à seguinte
  descrição: "A principal razão para escolher esta estratégia... é a de agregar
  valores ao negócio antes do ciclo de vida do projeto encerrar..."
</p>
<p><strong>Resposta Correta:</strong> Estratégia incremental.</p>

<hr />

<p><strong>4.</strong> O documento de visão é um artefato importante, pois:</p>
<p>
  <strong>Resposta Correta:</strong> Pode ser utilizado como base de contratação
  para desenvolvimento de sistemas.
</p>

<hr />

<p>
  <strong>5.</strong> Os membros de um grupo de desenvolvimento de software
  estão realizando testes em um software baseando-se nos códigos-fonte. Isso
  envolve a realização de testes em todos os componentes de forma individual,
  bem como testes das interfaces entre esses componentes quando passam a ser
  integrados para formar o software. Quais são os tipos de testes que estão
  sendo aplicados nesse contexto?
</p>
<p><strong>Resposta Correta:</strong> Unidade e integração.</p>

<hr />

<p>
  <strong>6.</strong> Leia atentamente e analise as afirmativas a seguir:
  <br />I. No paradigma conhecido como ciclo de vida clássico ou cascata, a
  especificação pode ser desenvolvida gradativamente... <br />II. O modelo
  espiral é um modelo de processo guiado por risco... <br />III. O único motivo
  para altas taxas de falhas em projetos desenvolvidos adotando-se modelos em
  cascata é a suposição falsa de que as especificações são previsíveis e
  estáveis. <br />São corretas APENAS as afirmativas:
</p>
<p><strong>Resposta Correta:</strong> Somente a II.</p>

<hr />

<p>
  <strong>7.</strong> Um engenheiro de software foi designado para avaliar o
  processo de revisão por pares que foi adotado para apoiar o desenvolvimento de
  um novo produto. Essa tarefa seria considerada:
</p>
<p><strong>Resposta Correta:</strong> Garantia de qualidade.</p>

<hr />

<p>
  <strong>8.</strong> Assinale corretamente o tipo de manutenção na qual se
  busca modificar o software a fim de torná-lo mais fácil de ser corrigido,
  adaptado e melhorado:
</p>
<p><strong>Resposta Correta:</strong> Preventiva.</p>

<hr />

<p>
  <strong>9.</strong> Analise as afirmativas: <br />I. O processo de validação
  determina se os artefatos atendem aos requisitos anteriores, enquanto a
  verificação determina se o produto final atende ao uso pretendido. <br />II. O
  teste estrutural requer o conhecimento do código-fonte do software para a
  elaboração dos casos de teste. <br />III. A fase de manutenção tem como
  objetivo exclusivamente tratar da correção de erros e defeitos após a
  implantação. <br />Está(ão) correta(s):
</p>
<p><strong>Resposta Correta:</strong> Somente a afirmativa II é verdadeira.</p>

<hr />

<p>
  <strong>10.</strong> O padrão de arquitetura conhecido como MVC
  (Model-View-Controller) é útil para o projeto de sistemas que têm interface
  gráfica com usuário porque:
</p>
<p>
  <strong>Resposta Correta:</strong> A aparência e o comportamento podem ser
  modificados sem a modificação do modelo de dados subjacente.
</p>

<hr />

<p>
  <strong>11.</strong> Sobre a definição e o foco da Engenharia de Software,
  assinale a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> Tem como foco principal estabelecer uma
  abordagem sistemática de desenvolvimento, através de ferramentas e técnicas
  apropriadas, dependendo do problema a ser abordado, considerando restrições e
  recursos disponíveis.
</p>

<hr />

<p>
  <strong>12.</strong> Considere as afirmativas sobre Projeto arquitetural:
  <br />I. Podemos trabalhar projetos arquiteturais em diferentes níveis de
  abstração. <br />II. Projetos arquiteturais são utilizados para minimizar o
  reuso de artefatos. <br />III. Os diagramas podem auxiliar na comunicação com
  stakeholders. <br />IV. Sempre usamos UML para fazer projetos arquiteturais.
</p>
<p><strong>Resposta Correta:</strong> Somente I e III estão corretas.</p>

<hr />

<p>
  <strong>13.</strong> Assinale a opção correta acerca de modelos de processo de
  software: <br />I. Segundo o Manifesto Ágil os processos valorizam mais:
  indivíduos e interações do que processos e ferramentas; software funcionando
  do que documentação extensa... <br />II. A programação extrema (XP) permite a
  ausência do cliente em fases iniciais. <br />III. A programação em pares está
  presente sempre em todos os processos ágeis, como XP e Scrum.
</p>
<p><strong>Resposta Correta:</strong> Apenas a afirmativa I é verdadeira.</p>

<hr />

<p>
  <strong>14.</strong> Em um sistema de gestão de pessoal, quais dos itens
  abaixo correspondem a requisitos NÃO funcionais?
</p>
<p>
  <strong>Resposta Correta:</strong> Tempo de resposta das consultas não deve
  superar 10 segundos e a entrega do produto final não pode ultrapassar o prazo
  de oito meses.
</p>

<hr />

<p>
  <strong>15.</strong> Sobre a engenharia de requisitos, considere as
  afirmativas: <br />I. Precisa ser adaptada às necessidades do processo,
  projeto, produto e pessoal. <br />II. No levantamento e análise, a equipe
  técnica trabalha com o cliente para descobrir serviços, desempenho e
  restrições. <br />III. Na medida em que a informação de vários pontos de vista
  é coletada, os requisitos emergentes são consistentes. <br />IV. A validação
  de requisitos se ocupa de mostrar que estes realmente definem o sistema que o
  cliente deseja.
</p>
<p>
  <strong>Resposta Correta:</strong> Somente as afirmativas I, II e IV são
  corretas.
</p>

<hr />

<p>
  <strong>16.</strong> No modelo de processo SCRUM, o software é desenvolvido em
  uma série de ciclos iterativos denominados:
</p>
<p><strong>Resposta Correta:</strong> Sprint.</p>

<hr />

<p><strong>17.</strong> O teste de regressão consiste em:</p>
<p>
  <strong>Resposta Correta:</strong> Identificar se as alterações no
  código-fonte não introduziram novos erros através de uma nova execução da
  massa de teste anterior.
</p>

<hr />

<p>
  <strong>18.</strong> Assinale a alternativa que apresenta as quatro fases do
  RUP (Unified Process), na ordem cronológica de execução:
</p>
<p>
  <strong>Resposta Correta:</strong> Concepção, elaboração, construção e
  transição.
</p>

<hr />

<p><strong>19.</strong> Sobre Diagramas de Interação, podemos afirmar que:</p>
<p>
  <strong>Resposta Correta:</strong> São elaborados para representar aspectos
  dinâmicos do sistema como troca de mensagens.
</p>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
