---
---

{% include head-quiz-prova.html page-title="Quiz - FdA" %} {% include
heading-quiz-prova.html heading="Quiz de Fundamentos da Administração" %}

<p>
  <strong>1.</strong> Conforme Chiavenato (2015), a administração envolve
  planejamento, organização, direção e controle. A função de "direção" traduz o
  planejamento e a organização em ações práticas, utilizando liderança,
  comunicação e motivação para orientar e inspirar os colaboradores a alcançar
  os objetivos da organização.
</p>
<p>
  Fonte: CHIAVENATO, Idalberto. Administração para não administradores: a gestão
  de negócios ao alcance de todos. [S. l.]: Editora Manole, 2015.
</p>
<p>
  A startup com nome fictício NERDBLITZ, que desenvolve soluções biotecnológicas
  avançadas, está se preparando para uma expansão significativa no mercado
  internacional. A equipe de liderança da empresa está focada em transformar a
  estratégia global em ações concretas para garantir que a equipe esteja
  totalmente engajada e alinhada com os objetivos da empresa. Para alcançar esse
  sucesso, o gerente geral tem o desafio de aplicar uma função administrativa
  que envolva inspirar, coordenar e estimular os colaboradores a realizarem suas
  tarefas de forma eficiente e eficaz.
</p>
<p>
  Considerando o cenário dado, qual das alternativas a seguir está correta no
  que se refere à “direção” que traduz estratégias e organização em ações
  práticas para engajar e guiar os colaboradores?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  c. Utilizar técnicas de influência e comunicação para estimular a equipe,
  orientando-os de maneira a garantir que todos estejam comprometidos e
  trabalhando em harmonia para atingir os objetivos estabelecidos.
</p>

<hr />

<p>
  <strong>2.</strong> A empresa fictícia TechConnect oferece serviços de
  tecnologia, incluindo desenvolvimento de softwares e soluções de automação
  para pequenas e médias empresas. Com o objetivo de ampliar sua presença no
  mercado digital, a equipe de marketing da TechConnect decidiu adotar uma
  abordagem estruturada, seguindo os 8 Ps do marketing digital propostos por Vaz
  (2011). O foco é entender melhor o público-alvo e criar campanhas mais
  eficazes para atender suas necessidades.
</p>
<p>
  Com base na metodologia de marketing digital apresentada por Vaz (2011), qual
  das seguintes etapas é fundamental para garantir que a TechConnect maximize a
  visibilidade de seu conteúdo e alcance seu público-alvo?
</p>
<p>
  Fonte: VAZ, Conrado Adolpho. Os 8Ps do marketing digital: o seu guia
  estratégico de marketing digital. São Paulo: Novatec Editora, 2011.
</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. Promoção.</p>

<hr />

<p>
  <strong>3.</strong> De acordo com Maximiano (2011, p. 192), “o Demonstrativo
  de resultado do exercício mostra se houve lucro ou prejuízo em um período e
  como se chegou a esse resultado. A demonstração de resultado do exercício é um
  resumo detalhado das receitas e despesas da empresa em um determinado
  exercício”.
</p>
<p>
  Fonte: MAXIMIANO, Antonio Cesar Amaru. Administração para empreendedores:
  fundamentos da criação e gestão de novos negócios. 2. ed. São Paulo: Pearson,
  2011. Disponível em: https://plataforma.bvirtual.com.br. Acesso em: 18 ago.
  2024.
</p>
<p>
  Uma empresa fictícia de Tecnologia, especializada em desenvolver e fornecer
  soluções de software para automação de processos empresariais, oferece
  serviços de consultoria em TI e manutenção de sistemas. A empresa possui uma
  equipe de desenvolvedores, consultores e suporte técnico.
</p>
<p>
  Qual das seguintes alternativas pode ser classificada como Custo Variável (CV)
  para a empresa?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. Custos com suporte técnico para manutenção de sistemas.</p>

<hr />

<p>
  <strong>4.</strong> Conforme Kotler, Keller e Chernev (2024), embora a
  estrutura e as políticas de uma empresa possam mudar, ajustar a cultura é
  extremamente difícil. A cultura corporativa, que molda comportamentos e
  normas, é fundamental para o sucesso e influência de todos os aspectos da
  empresa, como o atendimento ao cliente.
</p>
<p>
  Fonte: KOTLER Philip; KELLER, Kevin Lane; CHERNEV, Alexander. Administração de
  marketing. 16. ed. Porto Alegre, RS: Bookman, 2024. Disponível em:
  https://plataforma.bvirtual.com.br. Acesso em: 4 ago. 2024.
</p>
<p>
  Uma empresa de tecnologia fictícia, enfrenta forte competição e precisa
  adaptar-se para manter sua liderança. A diretoria está revisando a estrutura e
  políticas internas, mas enfrenta desafios para mudar a cultura da empresa, que
  atualmente não suporta as novas demandas do mercado. A prioridade deve ser
  identificar o aspecto mais importante para garantir uma adaptação
  bem-sucedida.
</p>
<p>
  Nesse sentido, a empresa diante da necessidade de se adaptar a um mercado mais
  competitivo, qual aspecto a diretoria deve priorizar para garantir uma
  adaptação bem-sucedida?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  e. Focar na transformação da maneira como os colaboradores pensam e se
  comportam, ajustando a cultura interna para alinhar melhor com os objetivos
  estratégicos e as expectativas do mercado.
</p>

<hr />

<p>
  <strong>5.</strong> Uma empresa de Tecnologia da Informação (TI) está
  implementando um novo sistema de gestão de projetos para melhorar a eficiência
  de seus processos internos. O objetivo é otimizar a alocação de recursos,
  automatizar tarefas repetitivas e garantir maior controle sobre prazos e
  entregas. Durante a fase de implementação, a equipe de desenvolvimento
  enfrenta os seguintes desafios:
</p>
<ol>
  <li>
    As equipes estão tendo dificuldades para se adaptar ao novo sistema, o que
    está causando atrasos nos projetos.
  </li>
  <li>
    A integração com sistemas legados da empresa não está funcionando como
    esperado, gerando inconsistências de dados.
  </li>
  <li>
    A comunicação entre as equipes de desenvolvimento e as áreas de suporte não
    está fluindo adequadamente, prejudicando o andamento dos processos.
  </li>
</ol>
<p>
  Com base nesse cenário, qual das alternativas a seguir representa a ação mais
  eficaz para lidar com os desafios identificados e garantir o sucesso da
  implementação?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  e. Implementar um plano de ação que inclua tanto o treinamento das equipes
  quanto a solução dos problemas técnicos e a melhoria da comunicação entre os
  times.
</p>

<hr />

<p>
  <strong>6.</strong> A vantagem competitiva é o que diferencia uma empresa em
  relação aos seus concorrentes. Uma empresa que busca obter vantagem
  competitiva em seu setor pode adotar diversas estratégias.
</p>
<p>
  Entre as alternativas abaixo, qual delas é mais diretamente relacionada à
  criação de uma vantagem competitiva sustentável?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  c. Focar na diferenciação de produtos, buscando atributos únicos que os
  concorrentes não podem facilmente replicar.
</p>

<hr />

<p>
  <strong>7.</strong> No contexto corporativo, especialmente na área de
  Tecnologia da Informação (TI), a liderança assume um papel fundamental no
  sucesso das equipes e dos projetos. A TI é um ambiente dinâmico e complexo,
  que exige não apenas conhecimentos técnicos, mas também habilidades gerenciais
  e interpessoais. Um líder eficaz precisa ser capaz de alinhar a estratégia
  organizacional com a execução técnica, ao mesmo tempo que motiva, orienta e
  desenvolve os membros da equipe.
</p>
<p>
  Considere as seguintes afirmativas sobre liderança corporativa na área de TI:
</p>
<ol type="I">
  <li>
    Um líder técnico na área de TI deve se concentrar exclusivamente em suas
    competências técnicas, pois a habilidade de tomar decisões complexas com
    base no conhecimento técnico é o único fator crítico para o sucesso da
    equipe.
  </li>
  <li>
    O desenvolvimento da liderança é uma abordagem eficaz em TI, pois o líder
    desempenha o papel de inspirador e ajusta seu estilo de gestão conforme as
    necessidades e a maturidade da equipe, bem como a complexidade das tarefas,
    com o objetivo de promover uma cultura de colaboração e inovação.
  </li>
  <li>
    Soft skills, como comunicação, inteligência emocional e gestão de conflitos,
    são igualmente importantes para líderes em TI, pois facilitam a colaboração,
    a motivação da equipe e a inovação no ambiente corporativo.
  </li>
</ol>
<p>É correto o que se afirma em:</p>
<p><strong>Resposta Correta:</strong></p>
<p>d. Apenas II e III.</p>

<hr />

<p>
  <strong>8.</strong> Para uma gestão eficaz, é importante compreender e
  classificar tanto os custos quanto as despesas e seu impacto nos preços dos
  serviços. O Demonstrativo de Resultado do Exercício (DRE) mostra o lucro ou
  prejuízo da empresa, detalhando receitas, custos e despesas em um período
  específico (Maximiano, 2011).
</p>
<p>
  Fonte: MAXIMIANO, Antonio Cesar Amaru. Administração para empreendedores:
  fundamentos da criação e gestão de novos negócios. 2. ed. São Paulo: Pearson,
  2011. Disponível em: https://plataforma.bvirtual.com.br. Acesso em: 18 ago.
  2024.
</p>
<p>
  Considerando uma empresa fictícia, a XPTO que fabrica equipamentos de
  tecnologia de ponta, está enfrentando desafios financeiros devido a uma
  recente expansão. A administração quer avaliar a eficácia de suas práticas
  atuais de controle financeiro para entender melhor como os custos e despesas
  afetam a rentabilidade e ajustar suas estratégias de precificação e operação.
</p>
<p>
  Com base no Demonstrativo de Resultados do Exercício (DRE), qual das
  alternativas a seguir a empresa XPTO deve adotar para aprimorar seu controle
  financeiro e sem ajustar sua estratégia de preços?
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  b. Realizar uma análise detalhada de todos os custos (fixos e variáveis) e
  despesas (fixas e variáveis) para identificar ineficiências e adotar uma
  estratégia precisa para melhorar sua gestão financeira.
</p>

<hr />

<p>
  <strong>9.</strong> Imagine uma empresa fictícia conhecida como Ecowraps. A
  Ecowraps, que fabrica embalagens sustentáveis, tem enfrentado uma crescente
  concorrência no mercado. Para se destacar, a equipe de marketing decidiu
  implementar uma série de ações que incluem o lançamento de uma nova linha de
  produtos, melhorias nas embalagens existentes e o desenvolvimento de campanhas
  que enfatizam a responsabilidade ambiental da empresa. Além disso, planejam
  realizar eventos comunitários para educar o público sobre a importância da
  sustentabilidade.
</p>
<p>
  Com base na importância do marketing conforme discutido por Kotler e Keller
  (2012), qual das seguintes ações que a Ecowraps está planejando pode ser
  considerada mais relevante para garantir sua competitividade e sucesso no
  mercado?
</p>
<p>
  Fonte: KOTLER, Philip; KELLER, Kevin Lane. Administração de marketing. 14. ed.
  São Paulo: Pearson Education do Brasil, 2012.
</p>
<p><strong>Resposta Correta:</strong></p>
<p>
  e. Desenvolver campanhas que enfatizam a responsabilidade ambiental da
  empresa.
</p>

<hr />

<p>
  <strong>10.</strong> De acordo com Maximiano (2011), o mercado é composto por
  grupos de consumidores com necessidades semelhantes e poder aquisitivo. Ele se
  divide em mercado consumidor, que abrange os consumidores finais, e mercado
  industrial, que envolve empresas que compram produtos para revenda ou uso
  operacional.
</p>
<p>
  Fonte: MAXIMIANO, Antonio Cesar Amaru. Administração para empreendedores:
  fundamentos da criação e gestão de novos negócios. 7. ed. São Paulo: Pearson,
  2011.
</p>
<p>
  Com base na definição de mercado segundo Maximiano (2011), assinale a
  alternativa que descreve corretamente uma das categorias de mercado:
</p>
<p>
  Fonte: MAXIMIANO, Antonio Cesar Amaru. Administração para empreendedores:
  fundamentos da criação e gestão de novos negócios. 7. ed. São Paulo: Pearson,
  2011.
</p>
<p><strong>Resposta Correta:</strong></p>
<p>b. Mercado consumidor e mercado industrial.</p>

<hr />

<p>
  <strong>11.</strong> Segundo Chiavenato (2020), os processos básicos de
  Recursos Humanos são essenciais para uma gestão eficaz do capital humano.
  Considerando esses processos, qual das alternativas a seguir descreve
  corretamente o "processo de manter pessoas" na gestão de RH?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>
  d. Envolve criar um ambiente de trabalho saudável e satisfatório, com
  políticas de retenção de talentos, gestão do clima organizacional e segurança
  no trabalho para garantir a motivação e o bem-estar dos colaboradores.
</p>

<hr />

<p>
  <strong>12.</strong> Segundo Chiavenato (2022), a produção de produtos e
  serviços é essencial para a criação de valor e está no centro das operações de
  uma organização. Com base nesse conceito, analise as afirmativas a seguir
  sobre o papel da produção de produtos e serviços nas empresas:
</p>

<p><strong>Resposta Correta:</strong></p>
<p>b. Apenas I e III.</p>

<hr />

<p>
  <strong>13.</strong> De acordo com Corrêa e Corrêa (2010), a gestão de
  operações envolve o gerenciamento estratégico de recursos e processos que
  produzem e entregam produtos e serviços, com o objetivo de atender às
  necessidades dos clientes. Qual das alternativas a seguir reflete corretamente
  uma vantagem de se ter operações bem gerenciadas?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>
  b. Empresas que dominam suas operações podem se diferenciar no mercado por
  meio da eficiência, velocidade de entrega ou personalização de produtos, o que
  contribui para a criação de uma vantagem competitiva.
</p>

<hr />

<p>
  <strong>14.</strong> De acordo com o IBGC (2023), a governança corporativa é
  um sistema formado por princípios, regras, estruturas e processos pelo qual as
  organizações são dirigidas e monitoradas, com vistas à geração de valor
  sustentável para a organização, para seus sócios e para a sociedade em geral.
  Com base na definição de governança corporativa, qual das seguintes
  alternativas melhor descreve um dos principais objetivos desse sistema?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>b. Garantir a transparência nas operações.</p>

<hr />

<p>
  <strong>15.</strong> Segundo Chiavenato (2015), a administração transforma os
  objetivos globais da empresa em ações organizacionais por meio de quatro
  funções. No que se refere ao "Planejamento" na administração, com base no
  cenário apresentado, qual das seguintes ações a TECNO-X deve priorizar?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>
  b. Desenvolver metas de mercado, identificar os meios necessários e
  desenvolver estratégias detalhadas para alcançar a liderança no mercado de
  software de gestão financeira.
</p>

<hr />

<p>
  <strong>16.</strong> Segundo Maximiano (2011), após definir os objetivos e
  funções, o trabalho é organizado em unidades, como departamentos ou setores,
  que podem variar conforme a empresa. Nesse sentido, qual estratégia deve ser
  adotada pela diretoria da empresa ao reorganizar as operações para melhorar a
  eficiência e lidar com o crescimento?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>
  a. Estruturar a empresa em grupos de trabalho especializados, alinhando
  atividades semelhantes em unidades específicas para otimizar a execução das
  tarefas.
</p>

<hr />

<p>
  <strong>17.</strong> Um dos principais objetivos do estudo da administração de
  empresas é capacitar os futuros gestores a tomarem decisões eficazes e
  estratégicas no ambiente empresarial. Nesse contexto, entender os fundamentos
  da administração é essencial para o desenvolvimento dessas habilidades. Qual
  das alternativas a seguir melhor justifica a importância do estudo dos
  fundamentos da administração para os futuros administradores?
</p>

<p><strong>Resposta Correta:</strong></p>
<p>
  e. A compreensão dos fundamentos da administração é essencial para adaptar-se
  a qualquer mudança tecnológica ou econômica, pois fornece as bases teóricas
  que permitem a análise crítica e a aplicação prática em diferentes situações.
</p>

<hr />

<p>
  <strong>18.</strong> A missão, a visão e os valores são elementos fundamentais
  para a definição da identidade organizacional e para o direcionamento
  estratégico de uma empresa. É correto o que se afirma em:
</p>

<p><strong>Resposta Correta:</strong></p>
<p>a. Apenas I, II.</p>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
