---
---

{% include head-quiz-prova.html page-title="Quiz - InfraTI" %} {% include
heading-quiz-prova.html heading="Quiz de Infraestrutura de Tecnologia da
Informação" %}

<p>
  <strong>1.</strong> Os processos de um sistema operacional possuem os
  seguintes estados: em execução, pronto e bloqueado. As transições entre esses
  estados integram o modo de funcionamento do sistema operacional. A partir
  dessas informações, avalie as asserções a seguir e a relação proposta entre
  elas.
</p>
<ol type="I">
  <li>
    Um processo em execução pode passar para o estado de bloqueado, quando, por
    exemplo: um recurso que ele necessita não está disponível.
  </li>
  <li>
    Esse bloqueio de um processo em execução é fundamental para que o
    processador não fique travado esperando um recurso que não dará a resposta.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>2.</strong> A comunicação entre dispositivos em uma rede é possível
  graças à existência de regras claras, e, através de protocolos específicos, as
  diversas tarefas são realizadas. No cenário de comunicação, surgem, então,
  alguns conceitos. Selecione a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> d. O endereço MAC dos dispositivos é um
  indicador de 48 bits utilizado para identificar um dispositivo. Uma
  organização mundial separa bits para cada fabricante, e esses atribuem aos
  seus produtos. Assim, cada dispositivo no mundo possui um endereço MAC único.
</p>

<hr />

<p>
  <strong>3.</strong> A virtualização pode ser considerada como a execução de
  vários servidores virtuais em um só servidor físico.
</p>
<p>Com relação à virtualização, avalie as afirmações a seguir:</p>
<ol type="I">
  <li>É um software que deve ser instalado em cada máquina virtual criada.</li>
  <li>
    O conceito de máquina virtual surgiu com a tecnologia de multiprocessamento,
    inicialmente lançada nos Mainframes.
  </li>
  <li>
    A virtualização simplifica o gerenciamento e possibilita flexibilizar e
    ampliar o poder de processamento.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> d. II e III, apenas.</p>

<hr />

<p>
  <strong>4.</strong> Um coordenador de infraestrutura de TI de uma universidade
  com cursos focados na área de medicina tem a tarefa de instalar novos sistemas
  nos computadores dos diversos laboratórios, para que alunos e professores
  possam desenvolver seus projetos. Com base nessa situação, escolha a melhor
  solução de sistema operacional para os computadores dos servidores e das
  estações de trabalho.
</p>
<p>
  <strong>Resposta Correta:</strong> c. Para os servidores, deve-se escolher o
  Windows Server ou uma distribuição Linux para servidor. Para as estações,
  deve-se verificar os programas a serem utilizados; se não tiverem nenhuma
  exigência de um sistema operacional, pode ser tanto Windows como Linux nas
  estações.
</p>

<hr />

<p>
  <strong>5.</strong> Um sistema operacional tem por finalidade maximizar a
  produtividade de um computador e fornecer ao usuário condições de utilização
  do computador sem se preocupar com detalhes da arquitetura interna. Selecione
  a opção correta:
</p>
<p>
  <strong>Resposta Correta:</strong> b. O sistema operacional é composto por uma
  coleção de programas que inicializam o hardware, fornecem as rotinas para
  controle dos dispositivos, gerenciam e escalonam as tarefas e, assim, mantêm a
  integridade do sistema.
</p>

<hr />

<p>
  <strong>6.</strong> As diversas tecnologias desenvolvidas para infraestrutura
  de TI fornecem às organizações diversas possibilidades para seus negócios: os
  mainframes, a arquitetura Cliente-servidor e, mais recentemente, a Computação
  em Nuvem. Qual das alternativas é a correta?
</p>
<p>
  <strong>Resposta Correta:</strong> a. A adoção de uma infraestrutura de TI
  deve ser avaliada de acordo com as necessidades da empresa. Por exemplo, uma
  empresa pode funcionar com uma arquitetura Cliente-servidor em suas
  instalações e utilizar recursos de um provedor de Computação em Nuvem para
  determinadas necessidades.
</p>

<hr />

<p>
  <strong>7.</strong> Uma empresa de produção de roupas infantis está em
  expansão de seus negócios e, para tanto, a infraestrutura de TI precisa ser
  ampliada. Desse modo, foram comprados dois computadores para serem utilizados
  como servidores e cada um possui dois discos rígidos.
</p>
<p>
  A partir dessas informações, avalie as asserções a seguir e a relação proposta
  entre elas.
</p>
<ol type="I">
  <li>
    Um dos discos rígidos do servidor será utilizado para armazenamento dos
    dados dos programas.
  </li>
  <li>
    A proposta de utilização do disco rígido no computador servidor é uma
    situação de backup.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> c. A asserção I é uma proposição
  verdadeira, e a II é uma proposição falsa.
</p>

<hr />

<p>
  <strong>8.</strong> A Computação em Nuvem oferece diversos tipos e modelos de
  negócios, através de serviços, e, para isso, possui características
  essenciais.
</p>
<p>
  Selecione a alternativa que representa os serviços essenciais fornecidos pelos
  provedores de nuvem.
</p>
<p>
  <strong>Resposta Correta:</strong> c. As características essenciais são:
  on-demand self-service, resource pooling, rapid elasticity e broad netwok
  access.
</p>

<hr />

<p>
  <strong>9.</strong> A Computação em nuvem fornece diversos tipos de modelos de
  serviços, e um deles é o SaaS.
</p>
<p>
  Com relação a características do modelo SaaS, selecione a alternativa correta.
</p>
<p>
  <strong>Resposta Correta:</strong> d. Esse modelo possibilita que os usuários
  possam utilizar os softwares para suas atividades sem a necessidade de
  instalação, manutenção e atualizações.
</p>

<hr />

<p>
  <strong>10.</strong> Uma empresa de consultoria está desenvolvendo seu site
  para que clientes possam contratar seus serviços de projeto de infraestrutura
  de TI, principalmente em especificação e instalação de servidores.
</p>
<p>
  Com relação à especificação de servidores que podem ser colocadas no site,
  avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    O servidor WEB proporcionará o acesso às informações em um formato de página
    Web com a utilização de um navegador.
  </li>
  <li>
    Um servidor de impressão, ao ser instalado em sua empresa, dará maior
    controle na quantidade de cópias impressas e diminuição no custo de
    impressoras e suprimentos.
  </li>
  <li>
    O servidor Proxy permitirá compartilhar e controlar o acesso à Internet.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> e. I, II e III.</p>

<hr />

<p>
  <strong>11.</strong> Em um cenário de redes em que se tem computadores
  interligados através de um switch e configurados com o IP 197.12.34.X/24, em
  que X varia entre 1 e 254, e através de testes com o comando ping 197.12.34.Y,
  no qual Y é o número atribuído a um dos hosts da rede, podemos afirmar que:
</p>
<p>
  <strong>Resposta Correta:</strong> b. Se um comando ping for utilizado em um
  computador do cenário proposto na questão, sendo o 4º byte igual a 23, e outro
  com o 4º byte igual a 32, o resultado mostrará que existe comunicação entre
  eles e estão na mesma rede.
</p>

<hr />

<p>
  <strong>12.</strong> Uma fábrica do ramo farmacêutico com a arquitetura
  Cliente-servidor possui um servidor de Banco de Dados e um servidor Web, e os
  clientes acessam informações sobre os remédios fabricados através de um
  navegador, o que facilita muito o desenvolvimento das aplicações, e até mesmo
  os vendedores externos podem fazer o mesmo, como se estivessem dentro da
  fábrica. Com relação ao cenário descrito, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    Na arquitetura Cliente-servidor, os servidores prestam serviços aos
    processos dos usuários, o que significa que executam as tarefas através de
    um pedido feito pelo cliente.
  </li>
  <li>
    Na arquitetura Cliente-servidor, os clientes podem solicitar serviços tanto
    do servidor quanto do cliente, e claro que, quando o fazem do servidor, o
    tempo de resposta fica mais lento.
  </li>
  <li>
    Na arquitetura Cliente-servidor, a base de dados e todas as regras e a
    lógica da aplicação ficam no servidor.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III apenas.</p>

<hr />

<p>
  <strong>13.</strong> A virtualização tem sido um dos pilares da TI atual e com
  tendências à utilização de serviços que serão migrados para a nuvem. A
  virtualização deve ser adotada, mas com algumas precauções para que a
  qualidade de serviços e os custos envolvidos possam apresentar um bom ROI –
  Retorno sobre o Investimento. Com relação à virtualização, avalie as
  afirmações a seguir:
</p>
<ol type="I">
  <li>
    Alguns aplicativos que necessitam de grande demanda do servidor físico devem
    ser migrados para a virtualização, pois com isso aumentarão a performance da
    máquina virtual.
  </li>
  <li>
    O hypervisor sempre introduz uma perda de desempenho, logo a utilização de
    virtualização deve levar em consideração as cargas das aplicações.
  </li>
  <li>
    A virtualização diminui muito o custo com licenciamento de software, e a
    razão está no fato de, ao diminuirmos o número de servidores físicos, também
    diminuímos a necessidade de licenças de sistemas operacionais.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> b. II, apenas.</p>

<hr />

<p>
  <strong>14.</strong> A virtualização de servidores possibilita a utilização
  mais eficiente dos diversos componentes de hardware. Assim a diminuição da
  ociosidade desses componentes pode ser aproveitada com a criação de máquinas
  virtuais, e essas, por si, aproveitam o compartilhamento dos componentes de
  hardware. Com relação à virtualização, podemos afirmar:
</p>
<p>
  <strong>Resposta Correta:</strong> b. A virtualização de sistemas operacionais
  possibilita que sistemas operacionais funcionem paralelamente em um servidor.
</p>

<hr />

<p>
  <strong>15.</strong> Uma empresa do ramo de calçados, instalada na região de
  Franca, está em franca expansão de seus negócios, e o comitê gestor resolveu
  desenvolver um projeto da infraestrutura de TI. A partir dessas informações,
  avalie as asserções a seguir e a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    O comitê gestor, após reunião para a definição da estratégia corporativa,
    passou a construir com a equipe de TI a próxima fase, assim preparando a
    arquitetura de TI para dar suporte aos negócios.
  </li>
  <li>
    O sucesso do projeto do comitê gestor construído pela equipe de TI dependerá
    do correto dimensionamento da infraestrutura de TI.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>16.</strong> A utilização de virtualização tem sido uma tendência
  adotada pelas empresas nos últimos anos. Existem diversos motivos para que as
  empresas adotem a virtualização. Escolha a alternativa que contém motivos para
  a virtualização:
</p>
<p>
  <strong>Resposta Correta:</strong> b. O provisionamento de novos recursos de
  forma rápida, disponibilidade e confiabilidade.
</p>

<hr />

<p>
  <strong>17.</strong> Para que um computador funcione corretamente, é
  necessário que exista um software que possa garantir e gerenciar que os
  recursos sejam disponibilizados de forma correta e no tempo certo. Com relação
  ao software de gerenciamento, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    O programa de gerenciamento do sistema é responsável pelos recursos de
    hardware, software, rede e dados para que as tarefas dos usuários sejam
    executadas.
  </li>
  <li>
    O sistema operacional não possui programas para gerenciamento de recursos de
    hardware e isso deve ser função do desenvolvedor do software da aplicação,
    pois será ele que decidirá que hardware utilizar.
  </li>
  <li>
    É necessário que exista um programa de desenvolvimento do sistema, em que
    por meio de editores de linguagem de programação possibilitem ao usuário
    desenvolver seus programas para o processamento das informações.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III, apenas.</p>

<hr />

<p>
  <strong>18.</strong> Em um projeto de virtualização, o hardware físico pode
  ser compartilhado com várias máquinas virtuais. E um software de gerenciamento
  de virtualização é utilizado para criar e gerenciar as características das
  máquinas virtuais. A partir dessas informações, avalie as asserções a seguir e
  a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    O software de virtualização, chamado de Hypervisor, deve funcionar no
    sistema operacional instalado no computador físico.
  </li>
  <li>
    As máquinas virtuais criadas são chamadas de “guest”, e é através do
    Hypervisor que são gerenciadas.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>19.</strong> O Data Center tem um papel importante nos cenários atuais
  de infraestrutura de TI para os negócios das empresas. São serviços de um Data
  Center:
</p>
<p>
  <strong>Resposta Correta:</strong> d. Serviços de rede, de segurança, de
  aplicação com load balancing e técnicas de caching, de armazenamento e de
  monitoramento.
</p>

<hr />

<p>
  <strong>20.</strong> Os servidores Blade também são uma opção a ser
  considerada pelas empresas quando se pensa em colocar mais equipamentos em
  menor espaço. A partir dessas informações, avalie as asserções a seguir e a
  relação proposta entre elas:
</p>
<ol type="I">
  <li>
    Os servidores Blade são montados em módulos e em um chassi, o que facilita a
    quantidade de módulos, sistemas de armazenamento, fontes de energia,
    ventilação e placas de comunicação.
  </li>
  <li>
    A montagem dos servidores Blade em chassi facilita muito a instalação da
    infraestrutura de cabeamento de rede, de energia e de resfriamento.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>21.</strong> Na arquitetura tradicional de TI aparecem diversas
  atividades que devem ser realizadas para que as aplicações possam funcionar em
  um ambiente de rede. Dentre elas, selecione a alternativa que traz as
  atividades gerenciadas pelos provedores de IaaS:
</p>
<p>
  <strong>Resposta Correta:</strong> d. Rede, armazenamento, servidores e
  virtualização.
</p>

<hr />

<p>
  <strong>22.</strong> A empresa organiza sua infraestrutura de TI para crescer
  de acordo com suas atividades. Com novas perspectivas de crescimento do
  mercado onde atua, precisa pensar em outras possibilidades de armazenamento
  dos dados. A tendência de centralizar o armazenamento de dados leva a
  organização a construir ou alugar espaço em um Data Center. Com essas
  considerações, selecione a melhor opção para um Data Center interno:
</p>
<p>
  <strong>Resposta Correta:</strong> b. Como a empresa não conta com um espaço
  interno, pode pensar na contratação de um Data Center modular em um contêiner
  externo, com todas as proteções necessárias, incluindo proteção de sala-cofre,
  e instalar os servidores e storages.
</p>

<hr />

<p>
  <strong>23.</strong> Em uma rede com um número crescente de computadores, um
  estagiário do curso de rede de computadores resolveu automatizar a instalação
  de novos computadores na rede. Das alternativas abaixo, selecione a correta:
</p>
<p>
  <strong>Resposta Correta:</strong> d. Ele instalou um servidor DHCP e
  configurou para que possa atribuir IP automaticamente para 10% a mais do que
  os computadores existentes na rede atualmente.
</p>

<hr />

<p>
  <strong>24.</strong> O planejamento de virtualização para uma empresa deve
  levar em conta as necessidades e avaliar o ROI – Retorno de Investimento. Com
  isso um projeto separado em várias etapas deve ser construído. A partir dessas
  informações, avalie as asserções a seguir e a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    A etapa de coleta deve ser realizada para o levantamento da infraestrutura
    existente e das funcionalidades que deverão ser virtualizadas.
  </li>
  <li>
    A coleta inclui conhecer a quantidade de servidores, processamento,
    quantidade de memória e espaço em disco utilizado, para que tudo isso depois
    seja utilizado para o projeto.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>25.</strong> Os sistemas operacionais são divididos em dois tipos que
  implicam como o processador, a memória e os dispositivos periféricos são
  utilizados pelos programas e usuários. A partir dessas informações, avalie as
  asserções a seguir e a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    Nos sistemas monoprogramáveis, também conhecidos como monotarefas, apenas um
    usuário é atendido por vez, ou seja, enquanto o programa espera a ocorrência
    de um evento, o processador ficará parado, sem realizar qualquer tarefa.
  </li>
  <li>
    Como o processador é muito rápido, não seria lógico ele ficar ocioso. Nos
    sistemas monotarefas, ele executa alguma rotina interna enquanto o
    periférico mais lento não o interrompe.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> c. A asserção I é uma proposição
  verdadeira, e a II é uma proposição falsa.
</p>

<hr />

<p>
  <strong>26.</strong> Uma empresa do ramo da construção civil em expansão
  utiliza como estratégia a colocação de um computador com um processador para
  ser o servidor da rede. Essa empresa já está com 25 colaboradores e, devido à
  sua atividade, cada um possui sua estação de trabalho. A partir dessas
  informações, avalie as asserções a seguir e a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    O sistema operacional adotado foi o Windows Server 2008, Web Edition, e a
    principal característica que levou a essa escolha foi o fato de a empresa
    pensar em três anos adquirir um Data Center.
  </li>
  <li>
    A escolha do sistema operacional não foi acertada quanto à versão, pois
    seria melhor a opção pela versão Standard ou mesmo a Enterprise, pois o tipo
    de negócio da empresa não a caracteriza como hospedagem de páginas, e sim
    mais para compartilhamento de arquivos e programas.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> d. A asserção I é uma proposição falsa, e a
  II é uma proposição verdadeira.
</p>

<hr />

<p>
  <strong>27.</strong> O protocolo TCP/IP é um conjunto de protocolos que tem a
  função de organizar a comunicação entre hosts em uma rede. Foi baseado no
  modelo OSI de 7 camadas. Sabendo disso, assinale a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> b. No protocolo TCP/IP, a camada de rede
  tem a função de determinar o melhor caminho e o protocolo se chama IP.
</p>

<hr />

<p>
  <strong>28.</strong> Uma rede local pode ter os dispositivos instalados em um
  switch, de uma configuração de VLAN, e podem ser agrupados de algumas formas.
  Selecione a alternativa correta quanto ao agrupamento nas redes VLAN:
</p>
<p>
  <strong>Resposta Correta:</strong> c. O agrupamento por endereço IP ocorre na
  camada 3 e uma das vantagens é que os equipamentos podem ser movidos para
  outro local da rede, que continuam na mesma VLAN configurada.
</p>

<hr />

<p>
  <strong>29.</strong> O espaço de endereçamento IP possui algo em torno de 4
  bilhões de endereços. Para facilitar a atribuição de endereços IP, o espaço de
  endereçamento foi dividido em classes. Com relação à divisão do espaço em
  classes, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    Existem as classes A, B, C, D e E, sendo que as classes A, B e C são
    utilizadas para uso comercial.
  </li>
  <li>
    Uma estratégia de definição de uso de uma classe em uma rede é verificar a
    quantidade de hosts necessários na rede e escolher a classe que comportar a
    quantidade necessária.
  </li>
  <li>
    Outra estratégia também utilizada para a escolha de uma classe de endereços
    IP é verificar a quantidade de redes que a empresa necessitará e se em cada
    rede podem ser atribuídos endereços IP na quantidade de hosts necessários.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> e. I, II e III.</p>

<hr />

<p>
  <strong>30.</strong> As infraestruturas de nuvem são projetadas para oferecer
  e gerenciar diversos tipos de recursos e distribuir esses recursos de forma
  eficiente, dependendo da demanda de carga de trabalho, e, para isso, diversos
  componentes são utilizados. Selecione a alternativa que corresponde aos
  componentes do modelo de serviço IaaS:
</p>
<p>
  <strong>Resposta Correta:</strong> a. Compute, Network, Storage, Database e
  Manage.
</p>

<hr />

<p>
  <strong>31.</strong> A comunicação entre dispositivos ligados em uma rede deve
  atender a especificações de um modelo em camadas e, assim, possibilitar a
  interoperabilidade. Isso facilita a utilização pelos usuários de equipamentos
  e serviços de diversos fabricantes. O modelo OSI e depois o protocolo TCP/IP
  são utilizados para garantir a interoperabilidade e o funcionamento das redes.
  Com relação às camadas do modelo OSI, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    A camada de rede é responsável por controlar a operação da rede e cuidar do
    roteamento dos pacotes entre a fonte e o destino.
  </li>
  <li>
    A camada física é responsável pela especificação das aplicações que terão
    acesso ao cabeamento da rede.
  </li>
  <li>
    A camada de transporte é responsável pela conexão entre os dispositivos
    fonte e origem, segmentando os dados com tamanho adequado para ser utilizado
    na camada de rede.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III, apenas.</p>

<hr />

<p>
  <strong>32.</strong> Uma empresa pequena do setor de laticínios contratou uma
  empresa de consultoria para desenvolver um projeto de infraestrutura de TI. A
  proposta da consultoria foi que seja colocado um servidor interno com dois
  discos rígidos, compartilhando os arquivos com os 20 usuários. Assinale a
  alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> b. Na proposta deveriam ser incluídos dois
  servidores, sendo que um funcionará como backup, oferecendo, assim, mais
  segurança às informações e também a continuidade dos negócios caso um deles
  tenha algum problema.
</p>

<hr />

<p>
  <strong>33.</strong> Uma organização possui suas rotinas de atividades e que
  são classificadas como processos organizacionais. Com relação a processos
  organizacionais, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    São classificados como processos primários, processos de suporte e processos
    gerenciais.
  </li>
  <li>
    Os processos gerenciais se relacionam diretamente com os clientes da
    organização.
  </li>
  <li>
    Os processos de suporte procuram apoiar os processos primários e não têm
    relação com os clientes externos da organização.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III apenas.</p>

<hr />

<p>
  <strong>34.</strong> O cenário para utilização de mainframe nas organizações é
  onde ocorre o processamento de grandes volumes de informações, o acesso de
  muitos usuários, ambientes de missão crítica e com alto índice de segurança.
  Com relação à utilização de mainframe, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    Os mainframes estão obsoletos, e todas as empresas que ainda os possuem
    estão migrando para outras tecnologias.
  </li>
  <li>
    Além das características já colocadas no texto, os mainframes também estão
    sendo fabricados atualmente com as mais modernas tecnologias e sendo
    utilizados em infraestrutura de TI das grandes empresas.
  </li>
  <li>
    Os mainframes já utilizavam as técnicas de virtualização e, aliados à
    disponibilidade, a escalabilidade tem sido opção para os ambientes de
    computação em nuvem junto com tecnologias de cliente-servidor.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> d. II e III apenas.</p>

<hr />

<p>
  <strong>35.</strong> A virtualização de servidores pode ser realizada de
  diversas formas, e as que são baseadas em arquiteturas X86 alteram o nível de
  privilégios. A utilização de instâncias é uma das características que
  facilitam o gerenciamento. Selecione a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> c. A virtualização completa realiza a
  abstração do hardware sobre o qual o Sistema Operacional guest é executado.
</p>

<hr />

<p>
  <strong>36.</strong> A infraestrutura de TI de uma empresa é construída com os
  equipamentos de hardware e software. Sobre esse assunto, assinale a
  alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> a. O hardware é composto por computadores,
  servidores, sistemas de armazenamento, redes de comunicação e sistemas de
  segurança. Existem diferenças de hardware entre computadores construídos para
  serem servidores e os que são para os usuários.
</p>

<hr />

<p>
  <strong>37.</strong> O crescimento dos negócios das empresas impacta na
  infraestrutura de TI e, no caso das redes de computadores, na necessidade de
  que os serviços prestados sejam rápidos, seguros e que estejam disponíveis aos
  usuários. As redes VLAN têm sido, então, um recurso de projeto de redes
  bastante utilizado nas empresas. Com relação à utilização das redes VLAN,
  avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    Elas isolam os pacotes de broadcast em um domínio e não propagam por toda a
    rede.
  </li>
  <li>
    As redes VLAN com agrupamento por endereço IP são muito difíceis de
    configurar e, além disso, quando um equipamento é mudado de lugar é
    necessário reconfigurar tudo.
  </li>
  <li>
    Os equipamentos ligados a portas de um mesmo switch podem estar em redes
    VLAN diferentes.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III, apenas.</p>

<hr />

<p>
  <strong>38.</strong> O armazenamento, como storage, pode ser dividido em três
  tipos nos quais são armazenados os dados da rede local de uma organização.
  Assim, os projetistas de sistemas de armazenamento podem selecionar uma opção
  que melhor atenda às necessidades da empresa. A partir dessas informações,
  avalie as asserções a seguir e a relação proposta entre elas:
</p>
<ol type="I">
  <li>
    O tipo SAN é uma rede dedicada que disponibiliza o armazenamento em que
    estão ligados os servidores e os dispositivos para storage.
  </li>
  <li>
    A utilização do storage tipo SAN proporciona maior disponibilidade,
    segurança aos dados e desempenho.
  </li>
</ol>
<p>
  <strong>Resposta Correta:</strong> a. As asserções I e II são proposições
  verdadeiras, e a II é uma justificativa correta da I.
</p>

<hr />

<p>
  <strong>39.</strong> A indústria da microeletrônica e o avanço das descobertas
  de processos de fabricação proporcionaram a construção de processadores mais
  velozes e com maior capacidade de processamento. Os dispositivos de
  armazenamento também evoluíram com as novas tecnologias, e o desenvolvimento
  de protocolos e equipamentos de comunicação deu condições para a construção de
  redes de comunicação. Assinale a alternativa correta:
</p>
<p>
  <strong>Resposta Correta:</strong> c. A tecnologia Cliente-servidor foi
  construída para que o processamento das informações fosse dividido em
  processos distintos, sendo um o responsável pelas tarefas de um servidor e o
  outro responsável pela aquisição dos dados, funcionando nos computadores dos
  clientes.
</p>

<hr />

<p>
  <strong>40.</strong> O crescimento das empresas e seus negócios proporciona o
  desenvolvimento de novas aplicações e utilização de computadores em diversos
  departamentos. Esse crescimento tem gerado grande aumento no volume de dados e
  se tornado grande desafio para os administradores de TI. Com relação ao
  desafio dos administradores de TI, avalie as afirmações a seguir:
</p>
<ol type="I">
  <li>
    O volume de dados aumenta as necessidades de armazenamento e, para isso,
    soluções de storage devem ser cuidadosamente projetadas.
  </li>
  <li>
    A maior preocupação dos administradores de TI está no desenvolvimento dos
    usuários no uso da tecnologia de backups, para que eles mesmos possam fazer
    e, assim, diminuir o gargalo nas funções dos gestores de negócios.
  </li>
  <li>
    Os dispositivos de backup também têm sido um desafio; e até mesmo soluções
    de backup de dados fora das instalações da empresa devem ser pensadas.
  </li>
</ol>
<p><strong>Resposta Correta:</strong> c. I e III, apenas.</p>

{% include nav-quiz-prova.html next="false" %} {% include footer.html %}
