---
---

{% include head-main.html page-title="Avaliações" %}

{% include nav.html %}

<hr> <!-- Início do 1º Trimestre -->

<div class="button-trimestres"><button id="btn-trimestre1" data-label="Avaliações do 1º Trimestre"></button>
</div>

<section id="trimestre1" aria-label="Avaliações do 1º Trimestre">
    <h1>Conceitos da Computação I</h1>
    <nav aria-label="Quiz e Prova do 1º Trimestre">
        <div class="divmain">
            <a href="paginas/cdc1quiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Conceitos da Computação I" title="Ver quiz" class="conteudo-disponivel"></a>
            <a href="paginas/cdc1prova.html" target="_self"><img src="../../imagens/menu/buttons/prova.png"
                    alt="Prova de Conceitos da Computação I" title="Ver prova" class="conteudo-disponivel"></a>
        </div>
    </nav>

    <hr>

    <h1>Fundamentos da Administração</h1>
    <nav aria-label="Quiz e Prova do 1º Trimestre">
        <div class="divmain">
            <a href="paginas/fdaquiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Fundamentos da Administração" title="Ver quiz" class="conteudo-disponivel"></a>
            <a href="paginas/fdaprova.html" target="_self"><img src="../../imagens/menu/buttons/prova.png"
                    alt="Prova de Fundamentos da Administração" title="Ver prova" class="conteudo-disponivel"></a>
        </div>
    </nav>

    <hr>

    <h1>Pesquisa, Tecnologia e Sociedade</h1>
    <nav aria-label="Quiz e Prova do 1º Trimestre">
        <div class="divmain">
            <a href="paginas/ptsquiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Pesquisa, Tecnologia e Sociedade" title="Ver quiz" class="conteudo-disponivel"></a>
            <a href="paginas/ptsprova.html" target="_self"><img src="../../imagens/menu/buttons/prova.png"
                    alt="Prova de Pesquisa, Tecnologia e Sociedade" title="Ver prova" class="conteudo-disponivel"></a>
        </div>
    </nav>
</section>

<hr> <!-- Fim do 1º Trimestre e Início do 2º Trimestre -->

<div class="button-trimestres"><button id="btn-trimestre2" data-label="Avaliações do 2º Trimestre"></button>
</div>

<section id="trimestre2" aria-label="Avaliações do 2º Trimestre">
    <h1>Algoritmos e Programação I</h1>
    <nav aria-label="Quiz e Prova do 2º Trimestre">
        <div class="divmain">
            <a href="paginas/aep1quiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Algoritmos e Programação I" title="Ver quiz" class="conteudo-disponivel"></a>
            <a href="paginas/aep1prova.html" target="_self"><img src="../../imagens/menu/buttons/prova.png"
                    alt="Prova de Algoritmos e Programação I" title="Ver prova" class="conteudo-disponivel"></a>
        </div>
    </nav>

    <hr>

    <h1>Infraestrutura de Tecnologia da Informação</h1>
    <nav aria-label="Quiz e Prova do 2º Trimestre">
        <div class="divmain">
            <a href="paginas/infraTIquiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Infraestrutura de Tecnologia da Informação" title="Ver quiz"
                    class="conteudo-disponivel"></a>
            <a href="paginas/infraTIprova.html" target="_self"><img src="../../imagens/menu/buttons/prova.png"
                    alt="Prova de Infraestrutura de Tecnologia da Informação" title="Ver prova"
                    class="conteudo-disponivel"></a>
        </div>
    </nav>
</section>

<hr> <!-- Fim do 2º Trimestre e Início do 3º Trimestre -->

<div class="button-trimestres"><button id="btn-trimestre3" data-label="Avaliações do 3º Trimestre"></button>
</div>

<section id="trimestre3" aria-label="Avaliações do 3º Trimestre">
    <h1>Algoritmos e Programação II</h1>
    <nav aria-label="Quiz e Prova do 3º Trimestre">
        <div class="divmain">
            <a href="paginas/aep2quiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Algoritmos e Programação II" title="Ver quiz" class="conteudo-disponivel"></a>
            <img src="../../imagens/menu/buttons/prova.png" alt="Prova de Algoritmos e Programação II" title="Ver prova"
                class="conteudo-indisponivel">
        </div>
    </nav>

    <hr>

    <h1>Conceitos da Computação II</h1>
    <nav aria-label="Quiz e Prova do 3º Trimestre">
        <div class="divmain">
            <a href="paginas/cdc2quiz.html" target="_self"><img src="../../imagens/menu/buttons/quiz.png"
                    alt="Quiz de Conceitos da Computação II" title="Ver quiz" class="conteudo-disponivel"></a>
            <img src="../../imagens/menu/buttons/prova.png" alt="Prova de Conceitos da Computação II" title="Ver prova"
                class="conteudo-indisponivel">
        </div>
    </nav>
</section>

<hr> <!-- Fim do 3º Trimestre -->

{% include footer.html %}