---
---

{% include head-main.html page-title="Apoie-me" %}

{% include nav.html %}

<p style="font-size: 10pt; text-align: justify; margin-left: 5vw; margin-right: 5vw;">Antes de qualquer coisa, eu
    gostaria de contar um
    pouco sobre mim. Me
    chamo Henrique, tenho
    18 anos e atualmente moro
    em Tramandaí, uma cidade pequena no litoral norte do Rio Grande do Sul. O notebook que uso para estudar e programar
    está repleto de defeitos que foram se intensificando ao longo dos muitos anos que tenho ele. Dentre os
    defeitos, temos, a tela dele, completamente inutilizada, a bateria que só funciona ligada na tomada,
    superaquecimento e as suas ventoinhas que as vezes morrem por horas. Para piorar tudo, o processador dele é um Intel
    Core i3-6006U (2.0GHz, 3MB L3 Cache) e ele funciona com um Intel HD Graphics 520 além de ter apenas 4GB de memória
    RAM,
    onde metade dela é usada apenas para que o Windows 10 funcione, não preciso nem dizer que ele
    praticamente não roda nada, incluindo IDEs mais completas como o Visual Studio. Está sendo um verdadeiro desafio
    continuar
    desenvolvendo esse site, as vezes levo 10-15 minutos apenas para conseguir abrir todas as ferramentas
    necessárias e começar
    a fazer de fato algo, pois só o Coogle Chrome já consome o pouco que sobra da memória RAM dele.</p>

<p style="font-size: 10pt; text-align: justify; margin-left: 5vw; margin-right: 5vw;">Com a recente aquisição de um
    computador antigo do meu irmão (com vários defeitos), estarei juntando dinheiro para deixá-lo apto o suficiente para
    que eu consiga estudar e programar, levando então à criação desta aba. Eu estarei deixando a minha chave-pix abaixo
    para quem quiser me apoiar. Não estarei criando uma vakinha ou algo do tipo porque existem taxas, e acredito que a
    chave-pix é uma maneira de conseguirem ver que de fato estão enviando dinheiro para mim. Desde já, agradeço quem me
    ajudar, e quando eu conseguir o dinheiro necessário para comprar todas as peças necessárias para o computador, vou
    atualizar essa aba para que todos saibam que não há mais nenhuma necessidade.</p>

<p style="font-size: 10pt; font-family: monospace;">cfd24fac-3297-43e0-8540-0ef1e9b6b603</p>

{% include footer.html %}