@charset "UTF-8";

body {
    background-color: #121212;
    color: #E8E6E3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #C8C3BC;
}

h2, h3, h4, h5, h6, p, ul, ol, li {
    text-align: justify;
}

hr {
    border-color: #14141485;
}

.navlink {
    text-align: center;
    a {
        color: rgb(0, 204, 255);
    }
    span {
        color: #5a5a5a;
    }
}

#fontbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #282828;
    color: #C8C3BC;
    box-shadow: 1px 1px 5px rgb(129, 129, 129);
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
}

#fontbutton:hover {
    background-color: #383838;
    cursor: pointer;
}

code {
    background: #292929;
}

table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
}

.niveisorganizacionais {
    width: 100%;
}

@media (min-width: 750px) {
    table, .niveisorganizacionais {
        width: 70%;
    }
}

@media (min-width: 950px) {
    table, .niveisorganizacionais {
        width: 50%;
    }
}
    

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

.imagens {
    width: 80%;
    text-align: center;
}

@media (min-width: 650px) {
    .imagens {
        width: 70%;
    }
}

@media (min-width: 700px) {
    .imagens {
        width: 55%;
    }
}

@media (min-width: 800px) {
    .imagens {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .imagens {
        width: inherit;
    }

    #imagemmenor {
        width: 45%;
    }
}

.algoritmosequencial {
    width: 50%;
    text-align: center;
}

@media (min-width: 650px) {
    .algoritmosequencial
 {
        width: 35%;
    }
}

@media (min-width: 700px) {
    .algoritmosequencial
 {
        width: 30%;
    }
}

@media (min-width: 800px) {
    .algoritmosequencial
 {
        width: 25%;
    }
}

@media (min-width: 900px) {
    .algoritmosequencial
 {
        width: 20%;
    }
}

@media (min-width: 1000px) {
    .algoritmosequencial
 {
        width: 15%;
    }
}

.code {
    background-color: #292929;
    box-sizing: border-box;
    overflow-x: auto;
    display: inline-block;
    padding: 10px;
    max-width: 100%;
}