@charset "UTF-8";

body {
    background-color: #121212;
    color: #E8E6E3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C8C3BC;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    text-align: justify;
}

hr {
    border-color: #14141485;
}

.navlink {
    text-align: center;
    margin-bottom: 10px;
}

.navlink a {
    color: rgb(0, 204, 255);
}

.navlink span {
    color: #5a5a5a;
}

#fontbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #282828;
    color: #C8C3BC;
    box-shadow: 1px 1px 5px rgb(129, 129, 129);
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

#fontbutton:hover {
    background-color: #383838;
}

code,
.code {
    background: #292929;
}

.code {
    box-sizing: border-box;
    overflow-x: auto;
    display: inline-block;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #3d3d3d;
}

table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

.table-overflow {
    overflow-x: auto;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.niveisorganizacionais {
    width: 100%;
}

.imagens {
    width: 80%;
}

.algoritmosequencial {
    width: 50%;
}

#imagemmenor {
    width: 100%;
}

#imagemmenor2 {
    width: 50%;
}

/* Media Queries */

@media (min-width: 650px) {
    .imagens {
        width: 70%;
    }

    .algoritmosequencial {
        width: 35%;
    }

    #imagemmenor2 {
        width: 40%;
    }
}

@media (min-width: 700px) {
    .imagens {
        width: 55%;
    }

    .algoritmosequencial {
        width: 30%;
    }

    #imagemmenor2 {
        width: 35%;
    }
}

@media (min-width: 750px) {

    table,
    .niveisorganizacionais {
        width: 70%;
    }
}

@media (min-width: 800px) {
    .imagens {
        width: 50%;
    }

    .algoritmosequencial {
        width: 25%;
    }

    #imagemmenor2 {
        width: 30%;
    }
}

@media (min-width: 900px) {
    .imagens {
        width: inherit;
    }

    .algoritmosequencial {
        width: 20%;
    }

    #imagemmenor {
        width: 45%;
    }

    #imagemmenor2 {
        width: 25%;
    }
}

@media (min-width: 1000px) {
    .algoritmosequencial {
        width: 15%;
    }

    #imagemmenor2 {
        width: 20%;
    }
}

.rodape {
    padding: 3px;
    font-size: 0.9rem;
    color: #555;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rodape p {
    text-align: center;
}